<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品详情页面</title>
    <link rel="stylesheet" th:href="@{css/detailsPage.css}">
    <link rel="stylesheet" th:href="@{css/same.css}">
</head>
<body>
<div class="container">
    <!--顶部-->
    <div class="header">

    </div>
    <div class="box">
        <div class="mainPart">
            <!--顶部-->
            <div class="mainPartTitle">
                <!--标题-->
                <!--回到首页-->
                <div class="wrap">
                    <div class="homepage">
                        <a class="current" style=" color: #103a86;" th:href="@{/product}">
                            <span>首页</span>
                        </a>
                    </div>
                    <span class="arrow"> > </span>
                </div>
                <!--类-->
                <div class="wrap">
                    <div class="homepage" id="kindList">
                        <a class="current">
                            <p>
                                <span>
                                    办公打印
                                </span>
                                <img th:src="@{img/down.png}" align="absmiddle">
                            </p>
                        </a>
                        <div class="kindList">
                            <div class="kindListDetail">
                                <ul>
                                    <li>
                                        <a>
                                            <p>全部</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <p>全部</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <p>全部</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <p>全部</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <p>全部</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <p>全部</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <span class="arrow"> > </span>
                </div>
                <!--品目-->
                <div class="wrap">
                    <div class="homepage" id="items">
                        <a class="current">
                            <p>
                                <span>打印机</span>
                                <img th:src="@{img/down.png}" align="absmiddle">
                            </p>
                        </a>
                        <div class="itemsList">
                            <div class="itemsListDetail">
                                <ul>
                                    <li>
                                        <a>
                                            <p>全部</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--搜索框-->
                <div class="inputProduct">
                    <form>
                        <input type="search" id="productSearch" placeholder="请输入商品信息">
                    </form>
                    <div class="submitProduct">
                        <a>
                            <p>确定</p>
                        </a>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="brandRegion">
                <!--品牌-->
                <div class="brand">
                    <div class="brandDetail">
                        <div class="brandDetailLeft">
                            <p>品牌</p>
                            <a>
                                <p>全部</p>
                            </a>
                        </div>
                        <div class="key">
                            <a class="moreThan">
                                <span>更多</span>
                            </a>
                        </div>
                        <div class="brandDetailRight">
                            <div class="brandDetailRightContent">
                                <ul>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li><li>
                                    <a>戴尔</a>
                                </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>
                                    <li>
                                        <a>戴尔</a>
                                    </li>


                                </ul>
                            </div>
                        </div>

                        <div style="clear: both">

                        </div>
                    </div>
                </div>
            </div>
            <!--获取商品-->
            <div class="message">
                <div class="messageDetail">
                    <!--商品名称-->
                    <h3>电脑</h3>
                    <!--类别-->
                    <div class="items">
                        <p>
                            <span>类别名称:</span>
                            <span>
                                电子类
                            </span>
                        </p>
                        <p>
                            <span>类别编号:</span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--品目-->
                    <div class="items">
                        <p>
                            <span>
                                品目名称:
                            </span>
                            <span>
                                电脑
                            </span>
                        </p>
                        <p>
                            <span>品目编号:</span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--品牌-->
                    <div class="items">
                        <p>
                            <span>
                                品牌名称:
                            </span>
                            <span>
                                联想
                            </span>
                        </p>
                        <p>
                            <span>
                                品牌编号:
                            </span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--型号-->
                    <div class="items">
                        <p>
                            <span> 型号名称:</span>
                            <span>
                                电子类
                            </span>
                        </p>
                        <p>
                            <span>
                                型号编号:
                            </span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--商品参数-->
                    <div class="items">
                        <p>
                            <span>
                                商品参数:
                            </span>
                            <span>
                                1234456789hfvfdgvrgre
                            </span>
                        </p>
                    </div>
                    <!--商品状态-->
                    <div class="items">
                        <p>
                            <span>
                                商品状态:
                            </span>
                            <span>
                                正在报价中
                            </span>
                        </p>
                    </div>
                    <!--报价-->
                    <div class="offer">
                        <a>
                            <p>我要报价
                                <img th:src="@{img/right.png}" align="absmiddle">
                            </p>

                        </a>
                    </div>
                </div>
                <div class="messageDetail">
                    <!--商品名称-->
                    <h3>电脑</h3>
                    <!--类别-->
                    <div class="items">
                        <p>
                            <span>类别名称:</span>
                            <span>
                                电子类
                            </span>
                        </p>
                        <p>
                            <span>类别编号:</span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--品目-->
                    <div class="items">
                        <p>
                            <span>
                                品目名称:
                            </span>
                            <span>
                                电脑
                            </span>
                        </p>
                        <p>
                            <span>品目编号:</span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--品牌-->
                    <div class="items">
                        <p>
                            <span>
                                品牌名称:
                            </span>
                            <span>
                                联想
                            </span>
                        </p>
                        <p>
                            <span>
                                品牌编号:
                            </span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--型号-->
                    <div class="items">
                        <p>
                            <span> 型号名称:</span>
                            <span>
                                电子类
                            </span>
                        </p>
                        <p>
                            <span>
                                型号编号:
                            </span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--商品参数-->
                    <div class="items">
                        <p>
                            <span>
                                商品参数:
                            </span>
                            <span>
                                1234456789hfvfdgvrgre
                            </span>
                        </p>
                    </div>
                    <!--商品状态-->
                    <div class="items">
                        <p>
                            <span>
                                商品状态:
                            </span>
                            <span>
                                正在报价中
                            </span>
                        </p>
                    </div>
                    <!--报价-->
                    <div class="offer">
                        <a>
                            <p>我要报价
                                <img src="images/right.png" align="absmiddle">
                            </p>

                        </a>
                    </div>
                </div>
                <div class="messageDetail">
                    <!--商品名称-->
                    <h3>电脑</h3>
                    <!--类别-->
                    <div class="items">
                        <p>
                            <span>类别名称:</span>
                            <span>
                                电子类
                            </span>
                        </p>
                        <p>
                            <span>类别编号:</span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--品目-->
                    <div class="items">
                        <p>
                            <span>
                                品目名称:
                            </span>
                            <span>
                                电脑
                            </span>
                        </p>
                        <p>
                            <span>品目编号:</span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--品牌-->
                    <div class="items">
                        <p>
                            <span>
                                品牌名称:
                            </span>
                            <span>
                                联想
                            </span>
                        </p>
                        <p>
                            <span>
                                品牌编号:
                            </span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--型号-->
                    <div class="items">
                        <p>
                            <span> 型号名称:</span>
                            <span>
                                电子类
                            </span>
                        </p>
                        <p>
                            <span>
                                型号编号:
                            </span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--商品参数-->
                    <div class="items">
                        <p>
                            <span>
                                商品参数:
                            </span>
                            <span>
                                1234456789hfvfdgvrgre
                            </span>
                        </p>
                    </div>
                    <!--商品状态-->
                    <div class="items">
                        <p>
                            <span>
                                商品状态:
                            </span>
                            <span>
                                正在报价中
                            </span>
                        </p>
                    </div>
                    <!--报价-->
                    <div class="offer">
                        <a>
                            <p>我要报价
                                <img src="images/right.png" align="absmiddle">
                            </p>

                        </a>
                    </div>
                </div>
                <div class="messageDetail">
                    <!--商品名称-->
                    <h3>电脑</h3>
                    <!--类别-->
                    <div class="items">
                        <p>
                            <span>类别名称:</span>
                            <span>
                                电子类
                            </span>
                        </p>
                        <p>
                            <span>类别编号:</span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--品目-->
                    <div class="items">
                        <p>
                            <span>
                                品目名称:
                            </span>
                            <span>
                                电脑
                            </span>
                        </p>
                        <p>
                            <span>品目编号:</span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--品牌-->
                    <div class="items">
                        <p>
                            <span>
                                品牌名称:
                            </span>
                            <span>
                                联想
                            </span>
                        </p>
                        <p>
                            <span>
                                品牌编号:
                            </span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--型号-->
                    <div class="items">
                        <p>
                            <span> 型号名称:</span>
                            <span>
                                电子类
                            </span>
                        </p>
                        <p>
                            <span>
                                型号编号:
                            </span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--商品参数-->
                    <div class="items">
                        <p>
                            <span>
                                商品参数:
                            </span>
                            <span>
                                1234456789hfvfdgvrgre
                            </span>
                        </p>
                    </div>
                    <!--商品状态-->
                    <div class="items">
                        <p>
                            <span>
                                商品状态:
                            </span>
                            <span>
                                正在报价中
                            </span>
                        </p>
                    </div>
                    <!--报价-->
                    <div class="offer">
                        <a>
                            <p>我要报价
                                <img src="images/right.png" align="absmiddle">
                            </p>

                        </a>
                    </div>
                </div>
                <div class="messageDetail">
                    <!--商品名称-->
                    <h3>电脑</h3>
                    <!--类别-->
                    <div class="items">
                        <p>
                            <span>类别名称:</span>
                            <span>
                                电子类
                            </span>
                        </p>
                        <p>
                            <span>类别编号:</span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--品目-->
                    <div class="items">
                        <p>
                            <span>
                                品目名称:
                            </span>
                            <span>
                                电脑
                            </span>
                        </p>
                        <p>
                            <span>品目编号:</span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--品牌-->
                    <div class="items">
                        <p>
                            <span>
                                品牌名称:
                            </span>
                            <span>
                                联想
                            </span>
                        </p>
                        <p>
                            <span>
                                品牌编号:
                            </span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--型号-->
                    <div class="items">
                        <p>
                            <span> 型号名称:</span>
                            <span>
                                电子类
                            </span>
                        </p>
                        <p>
                            <span>
                                型号编号:
                            </span>
                            <span>
                                1234567894561234567894
                            </span>
                        </p>
                    </div>
                    <!--商品参数-->
                    <div class="items">
                        <p>
                            <span>
                                商品参数:
                            </span>
                            <span>
                                1234456789hfvfdgvrgre
                            </span>
                        </p>
                    </div>
                    <!--商品状态-->
                    <div class="items">
                        <p>
                            <span>
                                商品状态:
                            </span>
                            <span>
                                正在报价中
                            </span>
                        </p>
                    </div>
                    <!--报价-->
                    <div class="offer">
                        <a>
                            <p>我要报价
                                <img th:src="@{img/right.png}" align="absmiddle">
                            </p>

                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!--底部-->
<div class="footer">

</div>

<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/detailsPage.js}"></script>
</body>
</html>