* {
    margin: 0;
    padding: 0;
}
.all{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #def4ff; /* 浏览器不支持时显示 */
    background-image: linear-gradient(#5fb8ff, #7ad3ff,#def4ff);
}
.back_log{
    width: 600px;
    height: 412px;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    margin-top: -206px;
    left: 50%;
    margin-left: -300px;
    border-radius: 3%;
}
.back_log:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 6px #999;
    -webkit-transition: all .5s ease-out;
    transition: all .3s ease-out;
}
.feiluan img {
    margin: 0 auto;
    display: block;
}

.logonName,
.logonPass {
    overflow: hidden;
    width: 80%;
    color: #000;
    margin: 30px auto;
}
.logonName{
    margin-top: 0;
}

.enter small {
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
}

.enter input {
    display: inline-block;
}

.enter span {
    font-size: 14px;
    color: red;
    margin: 10px auto;
    display: block;
    text-align: right;
}

.in {
    width: 75%;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
    float: right;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
}



.entry {
    width: 80%;
    margin: 30px auto 50px;
    background-color: #2196F3;
    border-radius: 5px;
    color: white;
    text-align: center;
    border: 1px solid #2196F3;
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
}

.entry:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #2196F3;
}

.entry>p {
    font-size: 23px;
    padding-top: 3%;
    text-decoration: none;
}