/*标题*/
.submitBar{
    margin: 20px 0 0;
    padding: 15px 10px;
    background: #f9f9f9;
    box-shadow: 0 4px 7px #f0f0f0;
}
.offerTitle{
    padding-bottom: 5px;
    font-weight: 600;
    padding-top: 5px;
}
.offerTitle>p:before{
    border-left: 2px solid #5f79a2;
    padding-right: 8px;
    content: '';
}
/*搜索框*/

.inputProduct{
    border-bottom: 1px solid #F52F3E;
    float: right;
}
.inputProduct>form{
    display: inline-block;
}
.submitProduct{
    display: inline-block;
    /* padding: 6px; */
    width: 56px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    border-radius: 1px;
    font-size: 14px;
    cursor: pointer;
}
.submitProduct input{
    outline-style: none;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #F52F3E;
    cursor: pointer;
    color: white;
    /*background-color: ;*/
}
.submitProduct:hover{
    opacity:0.8;
}
#productSearch{
    padding: 4px;
    width: 240px;
    height: 30px;
    border-radius: 2px;
    border: none;
    outline-style: none;
    background-color: #F9F9F9;
}
/*增加按钮*/
.addButton{
    float: right;
    /* width: 100px; */
    background-color: #1E9FFF;
    text-align: center;
    padding: 6px 18px;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 7px;
}
.addButton>a{
    color: white;
}
.messageDetail{
    padding-top: 20px;
}
.table{
    width: 80%;
    margin:0 auto;
}
.table tr{
    height: 50px;
    text-align: center;
    border-bottom:1px solid #e5e5e5;
}
.delete{
    background-color: #FF6600;
    font-size: 14px;
    color: white;
    /* width: 100px; */
    display: inline-block;
    padding: 5px 21px;
    border-radius: 5px;
    cursor: pointer;
}
/*模态框内容*/
.offerFormItem{
    padding-bottom: 26px;
}
.offerFormLabel{
    width: 136px;
    font-weight: 400;
    line-height: 20px;
    /* padding-right: 46px; */
    text-align: left;
    /* padding-left: 106px; */
    display: inline-block;
    font-size: 14px;
 }

.offerInputblock{
    display: inline-block;
}

.offerInput{
    height: 30px;
    line-height: 1.3;
    line-height: 35px\9;
    width: 265px;
    font-size: 14px;
}

.offerInput{
    background-color: #fff;
    border-radius: 2px;
    padding-left: 13px;
    border:1px solid #b7b7b7;
}

.submitBar{
    margin: 20px 0 0;
    padding: 15px 10px;
    /*text-align: center;*/
    box-shadow: 0 4px 7px #f0f0f0;
}
.cancel{
    border: 1px solid #d6d6d6;
    background: #f2f2f2;
    color: #666;
}
.confirm{
    background: cadetblue;
    color: #fff;
}
.submitBar>a{
    display: inline-block;
    margin: 0 7px;
    width: 142px;
    height: 36px;
    text-align: center;
    font: 16px/36px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    border-radius: 4px;
    cursor: pointer;
}
.submitBar a:hover{
    opacity:0.8;
}