* {
    margin: 0;
    padding: 0;
}

body {
    background: #def4ff;
}

.orderInformation,
.commodityDetails {
    width: 1200px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.name {
    padding: 0 20px;
    border-radius: 10px;
}

.name::before {
    content: "";
    height: 25px;
    width: 5px;
    position: relative;
    top: 30px;
    display: block;
    background-color: #0984e0;
    left: -10px;
}

.orderWrap,
.commodityWrap {
    overflow: hidden;
    font-size: 12px;
    padding: 20px;
}

.orderMessage_nav {
    width: 66%;
    float: left;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #ccc;
    overflow: hidden;
}

.orderMessage1,
.orderMessage2 {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.orderMessage1 {
    float: left;
}

.orderMessage2 {
    float: right;
}

.orderOperation_nav {
    width: 33.5%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.orderOperation_nav button {
    box-sizing: border-box;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
    margin: 15px 45px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 20px #fff inset;
}

.yes_order {
    background-color: rgb(255, 0, 0);
}

.no_order {
    background-color: rgb(29, 183, 255);
}

.lookContract {
    background-color: #53c355;
}

.lookContract a {
    text-decoration: none;
    color: #fff;
}

.checkInvoice {
    background-color: #ff9800;
}

.collectionConfirm {
    background-color: #ec63ff;
}

.label {
    margin-right: 3%;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.item {
    margin: 5px auto;
}

.info {
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

.commodityWrap ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.commodityWrap ul li {
    width: 30%;
    margin: 0 1%;
    list-style: none;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

.title {
    border-bottom: 1px solid #ccc;
}

.title li {
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

.commodities,
.mountings {
    border-bottom: 1px solid #ccc;
}

.commodities>div,
.mounting>div,
.service>div {
    width: 30%;
    margin: 0 1%;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    box-sizing: border-box;
}

.mounting .commodity,
.service .commodity,
.price,
.amount {
    text-align: center;
}

.detail {
    background: rgba(222, 244, 255, 0.32);
    margin: 15px 0;
}

.total {
    text-align: right;
}

.amountTo {
    font-size: 18px;
}