*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    height: 100%;
    min-width: 1200px;
}

.mainPart{
    padding-top: 30px;
    margin-bottom: 40px;
}

.header{
    height: 50px;
    background: #404040;
}
.box{
    width: 1200px;
    margin: 0 auto;
    min-height: 800px;
}
.footer{
    height: 180px;
    background: #404040;
}
/*分页*/
.paging{
    padding: 20px;
    text-align: center;
}

.pagination>li{
    display: inline;
    cursor: pointer;
}
.pagination>li>.active{
    background-color: #337ab7;
    color: white;
}

.pagination>li>a:hover{
    background-color: #337ab7;
    color: white;
}
.pagination>li>a{
    font-size: 13px;
    padding: 6px 12px;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
}
