<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>报价查询页面</title>

    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/same.css}">
    <link rel="stylesheet" th:href="@{/static/css/detailsPage.css}">
    <link rel="stylesheet" th:href="@{/static/css/allQuotedgoods.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/normalize.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/htmleaf-demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/niftymodals.css}" />
</head>
<body>
<div class="contain">
    <!-- 顶部 -->
    <div th:fragment="commonTop">
        <div class="top_nav">
            <div class="top">
                您好，欢迎访问河南省政府采购网上电商！
                <button id="btn">登录</button>
            </div>

            <!-- <div id="mask"></div>
            <div class="login" id="login">
                <div class="title" id="title">登录账号      <a href="#" class="close">X</a>
                </div>
                <div class="content">
                    <div class="user">
                        <input type="text" class="pt" placeholder="手机/邮箱/用户名" value="" name="">
                    </div>
                    <div class="password">
                        <input type="password" class="pt" placeholder="请输入密码" value="" name="">
                    </div>
                    <div class="submit">
                        <input type="button" class="sm" value="登陆">
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- 头部 -->
    <div th:fragment="commonHead">
        <div class="head_nav">
            <div class="head">
                <div class="logo">
                    <a href="">
                        <img th:src="@{/static/img/logo.png}" alt="">
                    </a>
                </div>
                <div class="search">
                    <form action="">
                        <input class="search-con" type="text" placeholder="输入关键字，搜索相关信息">
                        <input class="search-sub" type="submit" value="搜 索">
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="box">
        <div class="submitBar">
            <div class="offerTitle" style="padding-bottom: 20px;">
                <p>商品报价查询:</p>
            </div>
            <div class="title">
                <div class="toAudit same">
                    <span>待审核</span>
                </div>
                <div class="hasBeenOn same">
                    <span>已上架</span>
                </div>

                <div class="remove same">
                    <span>已下架</span>
                </div>
            </div>
            <div class="commodityDetails">
                <div class="commodityBox">
                    <div class="message one">
                        <div class="messageDetail">
                            <!--商品名称-->
                            <h3>电脑</h3>
                            <!--价格-->
                            <div class="items">
                                <p>
                                    <span>报价:</span>
                                    <span>5000</span>
                                </p>
                                <!--<p>-->
                                <!--<span>-->
                                <!--品牌编号:-->
                                <!--</span>-->
                                <!--<span>-->
                                <!--1234567894561234567894-->
                                <!--</span>-->
                                <!--</p>-->
                            </div>
                            <!--类别-->
                            <div class="items">
                                <p>
                                    <span>类别名称:</span>
                                    <span>电子类</span>
                                </p>
                            </div>
                            <!--品目-->
                            <div class="items">
                                <p>
                            <span>
                                品目名称:
                            </span>
                                    <span>
                                电脑
                            </span>
                                </p>
                                <!--<p>-->
                                    <!--<span>品目编号:</span>-->
                                    <!--<span>-->
                                <!--1234567894561234567894-->
                            <!--</span>-->
                                <!--</p>-->
                            </div>
                            <!--品牌-->
                            <div class="items">
                                <p>
                            <span>
                                品牌名称:
                            </span>
                                    <span>
                                联想
                            </span>
                                </p>
                                <!--<p>-->
                            <!--<span>-->
                                <!--品牌编号:-->
                            <!--</span>-->
                                    <!--<span>-->
                                <!--1234567894561234567894-->
                            <!--</span>-->
                                <!--</p>-->
                            </div>
                            <!--按钮-->
                            <div class="revocation " style="width: 90px;" >
                                <a>
                                    <p>
                                        撤销报价
                                    </p>
                                </a>
                            </div>
                            <div class="productDetails md-trigger" style="width: 90px;" data-modal="modal-1">
                                <a>
                                    <p>
                                        商品详情
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="message two">
                        <div class="messageDetail">
                            <!--商品名称-->
                            <h3>电脑</h3>
                            <!--价格-->
                            <div class="items">
                                <p>
                                    <span>报价:</span>
                                    <span>5000</span>
                                </p>
                                <!--<p>-->
                                <!--<span>-->
                                <!--品牌编号:-->
                                <!--</span>-->
                                <!--<span>-->
                                <!--1234567894561234567894-->
                                <!--</span>-->
                                <!--</p>-->
                            </div>
                            <!--类别-->
                            <div class="items">
                                <p>
                                    <span>类别名称:</span>
                                    <span>电子类</span>
                                </p>
                            </div>
                            <!--品目-->
                            <div class="items">
                                <p>
                            <span>
                                品目名称:
                            </span>
                                    <span>
                                电脑
                            </span>
                                </p>
                                <!--<p>-->
                                <!--<span>品目编号:</span>-->
                                <!--<span>-->
                                <!--1234567894561234567894-->
                                <!--</span>-->
                                <!--</p>-->
                            </div>
                            <!--品牌-->
                            <div class="items">
                                <p>
                            <span>
                                品牌名称:
                            </span>
                                    <span>
                                联想
                            </span>
                                </p>
                                <!--<p>-->
                                <!--<span>-->
                                <!--品牌编号:-->
                                <!--</span>-->
                                <!--<span>-->
                                <!--1234567894561234567894-->
                                <!--</span>-->
                                <!--</p>-->
                            </div>
                            <!--按钮-->
                            <div class="revocation " style="width: 90px;" >
                                <a>
                                    <p>
                                        下架
                                    </p>
                                </a>
                            </div>
                            <div class="productDetails md-trigger" style="width: 90px;" data-modal="modal-1">
                                <a>
                                    <p>
                                        商品详情
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="message three">
                        <div class="messageDetail">
                            <!--商品名称-->
                            <h3>电脑</h3>
                            <!--价格-->
                            <div class="items">
                                <p>
                                    <span>报价:</span>
                                    <span>5000</span>
                                </p>
                                <!--<p>-->
                                <!--<span>-->
                                <!--品牌编号:-->
                                <!--</span>-->
                                <!--<span>-->
                                <!--1234567894561234567894-->
                                <!--</span>-->
                                <!--</p>-->
                            </div>
                            <!--类别-->
                            <div class="items">
                                <p>
                                    <span>类别名称:</span>
                                    <span>电子类</span>
                                </p>
                            </div>
                            <!--品目-->
                            <div class="items">
                                <p>
                            <span>
                                品目名称:
                            </span>
                                    <span>
                                电脑
                            </span>
                                </p>
                                <!--<p>-->
                                <!--<span>品目编号:</span>-->
                                <!--<span>-->
                                <!--1234567894561234567894-->
                                <!--</span>-->
                                <!--</p>-->
                            </div>
                            <!--品牌-->
                            <div class="items">
                                <p>
                            <span>
                                品牌名称:
                            </span>
                                    <span>
                                联想
                            </span>
                                </p>
                                <!--<p>-->
                                <!--<span>-->
                                <!--品牌编号:-->
                                <!--</span>-->
                                <!--<span>-->
                                <!--1234567894561234567894-->
                                <!--</span>-->
                                <!--</p>-->
                            </div>
                            <!--按钮-->
                            <div class="revocation " style="width: 90px;" >
                                <a>
                                    <p>
                                        上架
                                    </p>
                                </a>
                            </div>
                            <div class="productDetails md-trigger" style="width: 90px;" data-modal="modal-1">
                                <a>
                                    <p>
                                        商品详情
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--详情模态框-->
    <div class="md-container md-effect-1" id="modal-1">
        <div class="md-content">
            <div class="md-contentTitle" style="padding: 4px 40px 4px;">
                <p>商品详情</p>
            </div>
            <div class="md-productTitle" style="padding: 4px 40px 4px;">
                <div class="messageDetail" style="margin-top: 0;">
                    <!--商品名称-->
                    <p>电脑</p>
                    <!--类别-->
                    <div class="items">
                        <p>
                            <span>类别名称:</span>
                            <span>电子类</span>
                        </p>
                        <p>
                        <span>类别编号:</span>
                        <span>1234567894561234567894</span>
                        </p>
                    </div>
                    <!--品目-->
                    <div class="items">
                        <p>
                            <span>品目名称:</span>
                            <span>电脑</span>
                        </p>
                        <p>
                            <span>品目编号:</span>
                            <span>1234567894561234567894</span>
                        </p>
                    </div>
                    <!--品牌-->
                    <div class="items">
                        <p>
                            <span>品牌名称:</span>
                            <span>联想</span>
                        </p>
                        <p>
                            <span>品牌编号:</span>
                            <span>1234567894561234567894</span>
                        </p>
                    </div>
                    <!--型号-->
                    <div class="items">
                    <p>
                        <span> 型号名称:</span>
                        <span>电子类</span>
                    </p>
                        <p>
                            <span>型号编号:</span>
                            <span>
                                1234567894561234567894
                            </span>
                    </p>
                    </div>
                    <!--商品参数-->
                    <div class="items">
                            <p>商品参数:</p>
                            <span></span>
                            <span>:</span>
                            <span>1234456789hfvfdgvrgre</span>
                    </div>
                    <!--商品状态-->
                    <div class="items state">
                    <p>
                    <span>
                    商品状态:
                    </span>
                    <span>
                    正在报价中
                    </span>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
</div>
<!-- 底部 -->
<div th:fragment="commonFoot">
    <div class="foot_nav">
        <div class="foot">
            <img th:src="@{/static/img/logo.png}" alt="">
            <p>版权所有 ©2019 河南省政府采购网上电商</p>
        </div>
    </div>
</div>
<!-- 返回顶部 -->
<div th:fragment="commonFoot">
    <div class="BackTop">
        <img class="footer" id="BackTop" th:src="@{/static/img/BackTop.png}" alt="">
    </div>
</div>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/allAuotedGoods.js}"></script>
<script th:src="@{/static/js/niftymodals.js}"></script>
<script>
    $(document).ready(function() {

        $('.md-trigger').on('click',function(){

            var modal = $(this).data('modal');
            $("#" + modal).niftyModal();
        });

    });
</script>
<script th:src="@{/static/js/cssParser.js}"></script>
<script th:src="@{/static/js/css-filters-polyfill.js}"></script>
<script> </script>
</body>
</html>