<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>报价查询页面</title>

    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/same.css}">
    <link rel="stylesheet" th:href="@{/static/css/detailsPage.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/normalize.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/htmleaf-demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/niftymodals.css}" />
    <link rel="stylesheet" th:href="@{/static/css/allQuotedgoods.css}">
</head>
<body>
<div class="contain">
    <!-- 顶部 -->
    <div th:fragment="commonTop">
        <div class="top_nav">
            <div class="top">
                您好，欢迎访问河南省政府采购网上电商！
                <button id="btn">登录</button>
            </div>
        </div>
    </div>
    <!-- 头部 -->
    <div th:fragment="commonHead">
        <div class="head_nav">
            <div class="head">
                <div class="logo">
                    <a href="">
                        <img th:src="@{/static/img/logo.png}" alt="">
                    </a>
                </div>
                <div class="search">
                    <form action="">
                        <input class="search-con" type="text" placeholder="输入关键字，搜索相关信息">
                        <input class="search-sub" type="submit" value="搜 索">
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="box">
        <div class="submitBar">
            <div class="offerTitle" style="padding-bottom: 20px;">
                <p>商品报价查询:</p>
            </div>
            <div class="title">
                <div class="toAudit same">
                    <span>待审核</span>
                </div>
                <div class="hasBeenOn same">
                    <span>已上架</span>
                </div>

                <div class="remove same">
                    <span>已下架</span>
                </div>
            </div>
            <div class="commodityDetails">
                <div class="commodityBox">
<!--                    待审核-->
                    <div class="message one">
                        <div class="messageDetailTitle">
                            <p>待审核商品:</p>
                        </div>
                        <div class="messageDetail" th:each="product3:${productList3}">
                            <!--商品名称-->
                            <h3 th:text="${product3.xhmc }">电脑</h3>
                            <!--价格-->
                            <div class="items">
                                <p>
                                    <span>报价:</span>
                                    <span th:text="${product3.price}">5000</span>
                                </p>
                            </div>
                            <!--待审核价格-->
                            <div class="items">
                                <p>
                                    <span>报价:</span>
                                    <span th:text="${product3.shjg}">5000</span>
                                </p>
                            </div>
                            <!--类别-->
                            <div class="items">
                                <p>
                                    <span>类别名称:</span>
                                    <span th:text="${product3.lbmc}">电子类</span>
                                </p>
                            </div>
                            <!--品目-->
                            <div class="items">
                                <p>
                            <span>
                                品目名称:
                            </span>
                                    <span th:text="${product3.pmmc}">
                                电脑
                            </span>
                                </p>
                            </div>
                            <!--品牌-->
                            <div class="items">
                                <p>
                            <span>
                                品牌名称:
                            </span>
                                    <span th:text="${product3.ppmc}">
                                联想
                            </span>
                                </p>
                            </div>
                            <!--按钮-->
                            <div class="revocation repeal" style="width: 90px;" th:data-number="${product3.xhbh}">
                                <a>
                                    <p>
                                        撤销报价
                                    </p>
                                </a>
                            </div>
                            <div class="productDetails" style="width: 90px;" >
                                <a th:href="@{'/product/product/'+${product3.xhbh}}">
                                    <p>
                                        商品详情
                                    </p>
                                </a>
                            </div>
                        </div>
                        <!-- 分页-->
                        <div class="paging" th:if="${length3 > 0 and zt==null and data==null}">
                            <ul class="pagination" id="pagination1" th:if=" ${length3> 1}">
                                <!--//如果当前页等于1，总页数大于1（不显示上一页）   orderDara.current&ndash;&gt;当前页-->
                                <li id="first"><a th:href="@{'/offer/all/'+${nowPage1}+'/'+${nowPage2}+'/'+${nowPage3}}">首页</a></li>
                                <li th:if="${nowPage3>1}"><a th:href="@{'/offer/all/'+${nowPage1}+'/'+${nowPage2}+'/'+${nowPage3-1}}">上一页</a></li>
                                <li  th:each="i:${#numbers.sequence(1,length3)}">
                                    <!--//从1到总页数遍历，并赋值给i    orderDara.pages&ndash;&gt;总页数-->
                                    <a class="active" th:if="${i > nowPage3 -3} and ${i <nowPage3 +3} and ${i == nowPage3}" href="javascript:void(0);" th:text="${i}">#</a>
                                    <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                                    <a th:if="${i > length3 -3} and ${i < length3+3} and ${i != length3}"
                                       th:href="@{'/offer/all/'+${nowPage1}+'/'+${nowPage2}+'/'+${i}}" th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数-->
                                </li>
                                <li th:if="${nowPage3<length3}"><a th:href="@{'/offer/all/'+${nowPage1}+'/'+${nowPage2}+'/'+${nowPage3+1}}">下一页</a></li>
                                <li id="last"><a th:href="@{'/offer/all/'+${nowPage1}+'/'+${nowPage2}+'/'+${nowPage3}}">尾页</a></li><!--//跳转至第orderDara.current页-->
                                <li><a href="" th:text="'共'+${length3}+'页'"></a></li>
                            </ul>
                        </div>
                    </div>
<!--                    已上架-->
                    <div class="message two">
                        <div class="messageDetailTitle">
                            <p>已上架商品:</p>
                        </div>
                        <div class="messageDetail" th:each="product1:${productList1}">
                            <!--商品名称-->
                            <h3 th:text="${product1.xhmc}" th:data-number="${product1.xhbh}" class="outNumber">电脑</h3>
                            <!--价格-->
                            <div class="items">
                                <p>
                                    <span>报价:</span>
                                    <span th:text="${product1.price}">5000</span>
                                </p>
                            </div>
                            <!--类别-->
                            <div class="items">
                                <p>
                                    <span>类别名称:</span>
                                    <span th:text="${product1.lbmc}">电子类</span>
                                </p>
                            </div>
                            <!--品目-->
                            <div class="items">
                                <p>
                            <span>
                                品目名称:
                            </span>
                                    <span th:text="${product1.pmmc}">
                                电脑
                            </span>
                                </p>
                            </div>
                            <!--品牌-->
                            <div class="items">
                                <p>
                            <span>
                                品牌名称:
                            </span>
                                    <span th:text="${product1.ppmc}">
                                联想
                            </span>
                                </p>
                            </div>
                            <!--按钮-->
                            <div th:data-number="${product1.xhbh}" class="revocation soldOut  md-trigger" style="width: 90px;" data-modal="modal-1">
                                <a>
                                    <p >
                                        下架
                                    </p>
                                </a>
                            </div>
                            <div class="productDetails" style="width: 90px;">
                                <a th:href="@{'/product/product/'+${product1.xhbh}}">
                                    <p>
                                        商品详情
                                    </p>
                                </a>
                            </div>
                        </div>
                        <!-- 分页-->
                        <div class="paging" th:if="${length1 > 0 and zt==null and data==null}">
                            <ul class="pagination" id="pagination1" th:if=" ${length1> 1}">
                                <!--//如果当前页等于1，总页数大于1（不显示上一页）   orderDara.current&ndash;&gt;当前页-->
                                <li class="first"><a th:href="@{'/offer/all/'+${nowPage1}+'/'+${nowPage2}+'/'+${nowPage3}}">首页</a></li>
                                <li th:if="${nowPage1>1}"><a th:href="@{'/offer/all/'+${nowPage1-1}+'/'+${nowPage2}+'/'+${nowPage3}}">上一页</a></li>
                                <li  th:each="i:${#numbers.sequence(1,length1)}">
                                    <!--//从1到总页数遍历，并赋值给i    orderDara.pages&ndash;&gt;总页数-->
                                    <a class="active" th:if="${i > nowPage1-3} and ${i <nowPage1+3} and ${i == nowPage1}" href="javascript:void(0);" th:text="${i}">#</a>
                                    <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                                    <a th:if="${i > length1-3} and ${i < length1+3} and ${i != length1}"
                                       th:href="@{'/offer/all/'+${i}+'/'+${nowPage2}+'/'+${nowPage3}}" th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数-->
                                </li>
                                <li th:if="${nowPage1<length1}"><a th:href="@{'/offer/all/'+${nowPage1+1}+'/'+${nowPage2}+'/'+${nowPage3}}">下一页</a></li>
                                <li class="last"><a th:href="@{'/offer/all/'+${length1}+'/'+${nowPage2}+'/'+${nowPage3}}">尾页</a></li><!--//跳转至第orderDara.current页-->
                                <li><a href="" th:text="'共'+${length1}+'页'"></a></li>
                            </ul>
                        </div>
                    </div>
<!--                    已下架-->
                    <div class="message three">
                        <div class="messageDetailTitle">
                            <p>已下架商品:</p>
                        </div>
                        <div class="messageDetail" th:each="product2:${productList2}">
                            <!--商品名称-->
                            <h3 th:text="${product2.xhmc}" th:data-putawaynumber="${product2.xhbh}" class="putAway">电脑</h3>
                            <!--价格-->
                            <div class="items">
                                <p>
                                    <span>报价:</span>
                                    <span th:text="${product2.price}">5000</span>
                                </p>
                            </div>
                            <!--类别-->
                            <div class="items">
                                <p>
                                    <span>类别名称:</span>
                                    <span th:text="${product2.lbmc}">电子类</span>
                                </p>
                            </div>
                            <!--品目-->
                            <div class="items">
                                <p>
                            <span>
                                品目名称:
                            </span>
                                    <span th:text="${product2.pmmc}">
                                电脑
                            </span>
                                </p>
                            </div>
                            <!--品牌-->
                            <div class="items">
                                <p>
                            <span>
                                品牌名称:
                            </span>
                                    <span th:text="${product2.ppmc}">
                                联想
                            </span>
                                </p>
                            </div>
                            <!--按钮-->
                            <div th:data-number="${product2.xhbh}" class="revocation md-trigger putaway" style="width: 90px;" data-modal="modal-19">
                                <a>
                                    <p >
                                        上架
                                    </p>
                                </a>
                            </div>
                            <div class="productDetails" style="width: 90px;" >
                                <a th:href="@{'/product/product/'+${product2.xhbh}}">
                                    <p>
                                        商品详情
                                    </p>
                                </a>
                            </div>
                        </div>
                        <!-- 分页-->
                        <div class="paging" th:if="${length2 > 0 and zt==null and data==null}">
                            <ul class="pagination" id="pagination1" th:if=" ${length2> 1}">
                                <!--//如果当前页等于1，总页数大于1（不显示上一页）   orderDara.current&ndash;&gt;当前页-->
                                <li class="first"><a th:href="@{'/offer/all/'+${nowPage1}+'/'+${nowPage2}+'/'+${nowPage3}}">首页</a></li>
                                <li th:if="${nowPage2>1}"><a th:href="@{'/offer/all/'+${nowPage1}+'/'+${nowPage2-1}+'/'+${nowPage3}}">上一页</a></li>
                                <li  th:each="i:${#numbers.sequence(1,length2)}">
                                    <!--//从1到总页数遍历，并赋值给i    orderDara.pages&ndash;&gt;总页数-->
                                    <a class="active" th:if="${i > nowPage2-3} and ${i <nowPage2+3} and ${i == nowPage2}" href="javascript:void(0);" th:text="${i}">#</a>
                                    <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                                    <a th:if="${i > length2-3} and ${i < length2+3} and ${i != length2}"
                                       th:href="@{'/offer/all/'+${nowPage1}+'/'+${i}+'/'+${nowPage3}}" th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数-->
                                </li>
                                <li th:if="${nowPage2<length2}"><a th:href="@{'/offer/all/'+${nowPage1}+'/'+${nowPage2+1}+'/'+${nowPage3}}">下一页</a></li>
                                <li class="last"><a th:href="@{'/offer/all/'+${nowPage1}+'/'+${length2}+'/'+${nowPage3}}">尾页</a></li><!--//跳转至第orderDara.current页-->
                                <li><a href="" th:text="'共'+${length2}+'页'"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    下架理由模态框-->
    <div class="md-container md-effect-1" id="modal-1">
        <div class="md-content">
            <div class="md-contentTitle" style="padding: 4px 40px 4px;">
                <p>下架理由</p>
            </div>
            <div class="md-productTitle" style="padding: 4px 40px 4px;">
                <div class="messageDetail" style="margin-top: 0;">
                    <!--更改报价原因-->
                    <div class="offerFormItem">
                        <div class="offerInputblock">
                            <textarea type="text" name="title" autocomplete="off" placeholder="请认真填写原因" class="offerTextarea" id="offerTextareaContent"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submitBarT">
                <a class="cancel">返回</a>
                <a class="confirm present">提交</a>
            </div>
        </div>
    </div>
    <!--    上架理由模态框-->
    <div class="md-container md-effect-19" id="modal-19">
        <div class="md-content">
            <div class="md-contentTitle" style="padding: 4px 40px 4px;">
                <p>上架理由</p>
            </div>
            <div class="md-productTitle" style="padding: 4px 40px 4px;">
                <div class="messageDetail" style="margin-top: 0;">
                    <!--更改报价原因-->
                    <div class="offerFormItem">
                        <div class="offerInputblock">
                            <textarea type="text" name="title" autocomplete="off" placeholder="请认真填写原因" class="offerTextarea" id="offerTextareaContent"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submitBarT">
                <a class="cancel">返回</a>
                <a class="confirm putaway">提交</a>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>

</div>
<!-- 底部 -->
<div th:fragment="commonFoot">
    <div class="foot_nav">
        <div class="foot">
            <img th:src="@{/static/img/logo.png}" alt="">
            <p>版权所有 ©2019 河南省政府采购网上电商</p>
        </div>
    </div>
</div>
<!-- 返回顶部 -->
<div th:fragment="commonFoot">
    <div class="BackTop">
        <img class="footer" id="BackTop" th:src="@{/static/img/BackTop.png}" alt="">
    </div>
</div>
<script th:src="@{/static/js/jquery.min.js}"></script>

<script th:src="@{/static/js/niftymodals.js}"></script>
<script th:src="@{/static/js/allAuotedGoods.js}"></script>
<script>
    $(document).ready(function() {



    });
</script>
<script th:src="@{/static/js/cssParser.js}"></script>
<script th:src="@{/static/js/css-filters-polyfill.js}"></script>
</body>
</html>