<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>报价查询页面</title>

    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/same.css}">
    <link rel="stylesheet" th:href="@{/static/css/detailsPage.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/normalize.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/htmleaf-demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/niftymodals.css}" />
    <link rel="stylesheet" th:href="@{/static/css/allQuotedgoods.css}">
    <script th:src="@{/static/js/jquery.min.js}"></script>
</head>
<body>
<div class="contain">
    <!-- 顶部 -->
    <div th:include="common::commonTop"></div>
    <!-- 头部 -->
    <div class="head_nav">
        <div class="head">
            <div class="logo" >
                <a th:href="@{/product/0/0/0/1}">
                    <img th:src="@{/img/logo.png}" alt="">
                </a>
            </div>
            <!--                按钮-->
            <div style="    position: absolute;
    /* right: -10px; */
    top: 80%;">
                <div class="brandDetail">
                    <!--     1111111                   -->
                    <div class="button buttonone">
                        <a th:href="@{/order-data/select}">
                            订单管理
                        </a>
                    </div>
                    <!--                        222222222-->
                    <div class="button buttontwo">
                        <a th:href="@{/productoffer/offer/all/1/1/1}">
                            我的报价
                        </a>
                    </div>

                    <!--                        33333333333333333-->
                    <div class="button buttonthree">
                        <a th:href="@{/user/userList/1}">
                            用户管理
                        </a>
                    </div>

                    <div>

                    </div>
                    <div style="clear: both">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="submitBar">
            <div class="offerTitle" style="padding-bottom: 20px;">
                <p>商品报价查询:</p>
            </div>
            <div class="toSelect">
                <div class="toSelectContent">
                    <div class=" toSelectList">
                        <p>种类：</p>
                        <select class="selectList">
                            <option>--选择类--</option>
                            <option th:each="lbmcList:${lbmcList}" th:text="${lbmcList}" th:data-text="${lbmcList}"></option>
                        </select>
                    </div>
                    <div class=" toSelectList">
                        <p>品目：</p>
                        <select id="select1">
                            <option>--品目--</option>
                        </select>
                    </div>
                    <div class=" toSelectList">
                        <p>品牌：</p>
                        <select id="select2">
                            <option>--品牌类--</option>
                        </select>
                    </div>
                </div>
                <!--搜索框-->
                <div class="inputProduct">
                    <form>
                        <input type="text" id="productSearch" placeholder="请输入商品信息" th:if="${nr}=='0'" class="productSearch">
                        <input type="text" id="productSearch" placeholder="请输入商品信息"  th:value="${nr}" th:if="${nr}!='0'" class="productSearch">
                        <div class="submitProduct">
                            <input type="submit" id="submit" data-zt="${zt}">
                        </div>
                    </form>
                </div>
                <div style="clear: both"></div>
            </div>
            <div style="padding: 12px;">
                <div class="toAudit same">
                    <span>待审核</span>
                </div>
                <div class="hasBeenOn same">
                    <span>已上架</span>
                </div>

                <div class="remove same">
                    <span>已下架</span>
                </div>
            </div>
            <div class="commodityDetails">
                <div class="commodityBox">
<!--                    待审核-->
                    <div class="message one">
                        <div class="messageDetailTitle">
                            <p>待审核商品:</p>
                        </div>
                        <div class="messageDetail" th:each="product3:${productList3}">
                            <!--商品名称-->
                            <h3 th:text="${product3.xhmc }">电脑</h3>
                            <!--价格-->
                            <div class="items">
                                <p>
                                    <span>曾经报价:</span>
                                    <span th:text="${product3.price}">5000</span>
                                </p>
                            </div>
                            <!--待审核价格-->
                            <div class="items">
                                <p>
                                    <span>待审核价格:</span>
                                    <span th:text="${product3.shjg}">5000</span>
                                </p>
                            </div>
                            <!--类别-->
                            <div class="items">
                                <p>
                                    <span>类别名称:</span>
                                    <span th:text="${product3.lbmc}">电子类</span>
                                </p>
                            </div>
                            <!--品目-->
                            <div class="items">
                                <p>
                            <span>
                                品目名称:
                            </span>
                                    <span th:text="${product3.pmmc}">
                                电脑
                            </span>
                                </p>
                            </div>
                            <!--品牌-->
                            <div class="items">
                                <p>
                            <span>
                                品牌名称:
                            </span>
                                    <span th:text="${product3.ppmc}">
                                联想
                            </span>
                                </p>
                            </div>
                            <!--按钮-->
                            <div class="revocation repeal" style="width: 90px;" th:data-number="${product3.xhbh}">
                                <a>
                                    <p>
                                        撤销报价
                                    </p>
                                </a>
                            </div>
                            <div class="productDetails" style="width: 90px;" >
                                <a th:href="@{'/product/product/'+${product3.xhbh}}">
                                    <p>
                                        商品详情
                                    </p>
                                </a>
                            </div>
                        </div>
                        <!-- 分页-->
                        <div class="paging" th:if="${length3 > 0 and zt==null and data==null}">
                            <ul class="pagination" id="pagination1" th:if=" ${length3> 1}">
                                <!--//如果当前页等于1，总页数大于1（不显示上一页）   orderDara.current&ndash;&gt;当前页-->
                                <li id="first"><a th:href="@{'/productoffer/offer/all/'+${nowPage1}+'/'+${nowPage2}+'/1'}">首页</a></li>
                                <li th:if="${nowPage3>1}"><a th:href="@{'/productoffer/offer/all/'+${nowPage1}+'/'+${nowPage2}+'/'+${nowPage3-1}}">上一页</a></li>
                                <li  th:each="i:${#numbers.sequence(1,length3)}">
                                    <!--//从1到总页数遍历，并赋值给i    orderDara.pages&ndash;&gt;总页数-->
                                    <a class="active" th:if="${i > nowPage3 -3} and ${i <nowPage3 +3} and ${i == nowPage3}" href="javascript:void(0);" th:text="${i}">#</a>
                                    <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                                    <a th:if="${i > nowPage3 -3} and ${i < nowPage3+3} and ${i != nowPage3}"
                                       th:href="@{'/productoffer/offer/all/'+${nowPage1}+'/'+${nowPage2}+'/'+${i}}" th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数-->
                                </li>
                                <li th:if="${nowPage3<length3}"><a th:href="@{'/productoffer/offer/all/'+${nowPage1}+'/'+${nowPage2}+'/'+${nowPage3+1}}">下一页</a></li>
                                <li id="last"><a th:href="@{'/productoffer/offer/all/'+${nowPage1}+'/'+${nowPage2}+'/'+${length3}}">尾页</a></li><!--//跳转至第orderDara.current页-->
                                <li><a href="" th:text="'共'+${length3}+'页'"></a></li>
                            </ul>
                        </div>
                    </div>
<!--                    已上架-->
                    <div class="message two">
                        <div class="messageDetailTitle">
                            <p>已上架商品:</p>
                        </div>
                        <div class="messageDetail" style="width: 40%" th:each="product1:${productList1}">
                            <!--商品名称-->
                            <h3 th:text="${product1.xhmc}" class="outNumber">电脑</h3>
                            <!--价格-->
                            <div class="items">
                                <p>
                                    <span>报价:</span>
                                    <span th:text="${product1.price}">5000</span>
                                </p>
                            </div>
                            <!--类别-->
                            <div class="items">
                                <p>
                                    <span>类别名称:</span>
                                    <span th:text="${product1.lbmc}">电子类</span>
                                </p>
                            </div>
                            <!--品目-->
                            <div class="items">
                                <p>
                            <span>
                                品目名称:
                            </span>
                                    <span th:text="${product1.pmmc}">
                                电脑
                            </span>
                                </p>
                            </div>
                            <!--品牌-->
                            <div class="items">
                                <p>
                            <span>
                                品牌名称:
                            </span>
                                    <span th:text="${product1.ppmc}">
                                联想
                            </span>
                                </p>
                            </div>
                            <!--按钮-->
                            <div th:data-number="${product1.xhbh}" class="revocation soldOut  md-trigger" style="width: 90px;" data-modal="modal-1">
                                <a>
                                    <p>
                                        下架
                                    </p>
                                </a>
                            </div>
                            <div class="productDetails" style="width: 90px;">
                                <a th:href="@{'/product/product/'+${product1.xhbh}}">
                                    <p>
                                        商品详情
                                    </p>
                                </a>
                            </div>
                        </div>
                        <!-- 分页-->
                        <div class="paging" th:if="${length1 > 0 and zt==null and data==null}">
                            <ul class="pagination" id="pagination1" th:if=" ${length1> 1}">
                                <!--//如果当前页等于1，总页数大于1（不显示上一页）   orderDara.current&ndash;&gt;当前页-->
                                <li class="first"><a th:href="@{'/productoffer/offer/all/1'+'/'+${nowPage2}+'/'+${nowPage3}}">首页</a></li>
                                <li th:if="${nowPage1>1}"><a th:href="@{'/productoffer/offer/all/'+${nowPage1-1}+'/'+${nowPage2}+'/'+${nowPage3}}">上一页</a></li>
                                <li  th:each="i:${#numbers.sequence(1,length1)}">
                                    <!--//从1到总页数遍历，并赋值给i    orderDara.pages&ndash;&gt;总页数-->
                                    <a class="active" th:if="${i > nowPage1-3} and ${i <nowPage1+3} and ${i == nowPage1}" href="javascript:void(0);" th:text="${i}">#</a>
                                    <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                                    <a th:if="${i > nowPage1-3} and ${i < nowPage1+3} and ${i != nowPage1}"
                                       th:href="@{'/productoffer/offer/all/'+${i}+'/'+${nowPage2}+'/'+${nowPage3}}" th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数-->
                                </li>
                                <li th:if="${nowPage1<length1}"><a th:href="@{'/productoffer/offer/all/'+${nowPage1+1}+'/'+${nowPage2}+'/'+${nowPage3}}">下一页</a></li>
                                <li class="last"><a th:href="@{'/productoffer/offer/all/'+${length1}+'/'+${nowPage2}+'/'+${nowPage3}}">尾页</a></li><!--//跳转至第orderDara.current页-->
                                <li><a href="" th:text="'共'+${length1}+'页'"></a></li>
                            </ul>
                        </div>
                    </div>
<!--                    已下架-->
                    <div class="message three">
                        <div class="messageDetailTitle">
                            <p>已下架商品:</p>
                        </div>
                        <div class="messageDetail" th:each="product2:${productList2}">
                            <!--商品名称-->
                            <h3 th:text="${product2.xhmc}" class="putAway">电脑</h3>
                            <!--价格-->
                            <div class="items">
                                <p>
                                    <span>报价:</span>
                                    <span th:text="${product2.price}">5000</span>
                                </p>
                            </div>
                            <!--类别-->
                            <div class="items">
                                <p>
                                    <span>类别名称:</span>
                                    <span th:text="${product2.lbmc}">电子类</span>
                                </p>
                            </div>
                            <!--品目-->
                            <div class="items">
                                <p>
                            <span>
                                品目名称:
                            </span>
                                    <span th:text="${product2.pmmc}">
                                电脑
                            </span>
                                </p>
                            </div>
                            <!--品牌-->
                            <div class="items">
                                <p>
                            <span>
                                品牌名称:
                            </span>
                                    <span th:text="${product2.ppmc}">
                                联想
                            </span>
                                </p>
                            </div>
                            <!--按钮-->
                            <div th:data-putawaynumber="${product2.xhbh}" class="revocation  Racking  md-trigger" style="width: 90px;"  data-modal="modal-19">
                                <a>
                                    <p >
                                        上架
                                    </p>
                                </a>
                            </div>
                            <div class="productDetails" style="width: 90px;" >
                                <a th:href="@{'/product/product/'+${product2.xhbh}}">
                                    <p>
                                        商品详情
                                    </p>
                                </a>
                            </div>
                        </div>
                        <!-- 分页-->
                        <div class="paging" th:if="${length2 > 0 and zt==null and data==null}">
                            <ul class="pagination" id="pagination1" th:if=" ${length2> 1}">
                                <!--//如果当前页等于1，总页数大于1（不显示上一页）   orderDara.current&ndash;&gt;当前页-->
                                <li class="first"><a th:href="@{'/productoffer/offer/all/'+${nowPage1}+'/1/'+${nowPage3}}">首页</a></li>
                                <li th:if="${nowPage2>1}"><a th:href="@{'/productoffer/offer/all/'+${nowPage1}+'/'+${nowPage2-1}+'/'+${nowPage3}}">上一页</a></li>
                                <li  th:each="i:${#numbers.sequence(1,length2)}">
                                    <!--//从1到总页数遍历，并赋值给i    orderDara.pages&ndash;&gt;总页数-->
                                    <a class="active" th:if="${i > nowPage2-3} and ${i <nowPage2+3} and ${i == nowPage2}" href="javascript:void(0);" th:text="${i}">#</a>
                                    <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                                    <a th:if="${i > nowPage2-3} and ${i < nowPage2+3} and ${i != nowPage2}"
                                       th:href="@{'/productoffer/offer/all/'+${nowPage1}+'/'+${i}+'/'+${nowPage3}}" th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数-->
                                </li>
                                <li th:if="${nowPage2<length2}"><a th:href="@{'/productoffer/offer/all/'+${nowPage1}+'/'+${nowPage2+1}+'/'+${nowPage3}}">下一页</a></li>
                                <li class="last"><a th:href="@{'/productoffer/offer/all/'+${nowPage1}+'/'+${length2}+'/'+${nowPage3}}">尾页</a></li><!--//跳转至第orderDara.current页-->
                                <li><a href="" th:text="'共'+${length2}+'页'"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    下架理由模态框-->
    <div class="md-container md-effect-1" id="modal-1">
        <div class="md-content">
            <div class="md-contentTitle" style="padding: 4px 40px 4px;">
                <p>下架理由</p>
            </div>
                    <!--更改报价原因-->
            <div class="offerInputblock">
                <textarea type="text" name="title" autocomplete="off" placeholder="请认真填写原因" class="offerTextarea"></textarea>
            </div>
            <div class="submitBarT">
                <a class="cancel">重置</a>
                <a class="confirm present">提交</a>
            </div>
        </div>
    </div>
    <!--    上架理由模态框-->
    <div class="md-container md-effect-19" id="modal-19">
        <div class="md-content">
            <div class="md-contentTitle" style="padding: 4px 40px 4px;">
                <p>上架理由</p>
            </div>
            <div class="offerInputblock">
                <textarea type="text" name="title" autocomplete="off" placeholder="请认真填写原因" class="offerTextarea" id="offerTextareaContent"></textarea>
            </div>
            <div class="submitBarT">
                <a class="cancel">重置</a>
                <a class="confirm  putaway">提交</a>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
</div>
<!-- 底部 -->
<div th:include="common::commonFoot"></div>
<!-- 返回顶部 -->
<div th:include="common::commonBackTop"></div>
<script th:src="@{/static/js/niftymodals.js}"></script>
<script th:src="@{/static/js/allAuotedGoods.js}"></script>
<script th:src="@{/static/js/cssParser.js}"></script>
<script th:src="@{/static/js/BackTop.js}"></script>
<script th:src="@{/static/js/css-filters-polyfill.js}"></script>
</body>
</html>