<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>河南省政府采购网</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <script th:src="@{js/jquery-3.3.1.min.js}"></script>
</head>

<body>
    <!-- 顶部 -->
    <div th:fragment="commonTop">
        <div class="top_nav">
            <div class="top">
                您好，欢迎来到河南飞鸾电子科技有限公司！
<!--                <button id="btn">登录</button>-->
            </div>

            <!-- <div id="mask"></div>
            <div class="login" id="login">
                <div class="title" id="title">登录账号      <a href="#" class="close">X</a>
                </div>
                <div class="content">
                    <div class="user">
                        <input type="text" class="pt" placeholder="手机/邮箱/用户名" value="" name="">
                    </div>
                    <div class="password">
                        <input type="password" class="pt" placeholder="请输入密码" value="" name="">
                    </div>
                    <div class="submit">
                        <input type="button" class="sm" value="登陆">
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- 头部 -->
    <div th:fragment="commonHead">
        <div class="head_nav">
            <div class="head">
                <div class="logo">
                    <a href="">
                        <img th:src="@{/img/logo.png}" alt="">
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- 底部 -->
    <div th:fragment="commonFoot">
        <div class="foot_nav">
        <div class="foot">
            <img th:src="@{/img/logo.png}" alt="">
            <p>版权所有 ©2019 河南飞鸾电子科技有限公司</p>
        </div>
    </div>
    </div>
    <!-- 返回顶部 -->
    <div th:fragment="commonBackTop">
        <div class="BackTop">
        <img class="footer" id="BackTop" th:src="@{/img/BackTop.png}" alt="">
    </div>
    </div>
    <script th:src="@{js/login.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{js/BackTop.js}" type="text/javascript" charset="utf-8"></script>
</body>

</html>