<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link th:href="@{../static/css/backstage_logon.css}" rel="stylesheet">
</head>

<body>
    <div class="back_log">
        <div class="enter">
            <form>
                <!--用户名-->
                <div class="logonName">
                    <small>用户名</small>
                    <input type="text" class="in" id="userName" placeholder="请输入您的用户名">
                    <span></span>
                </div>
                <!--密码-->
                <div class="logonPass">
                    <small>密&nbsp;&nbsp;&nbsp;&nbsp;码</small>
                    <input type="password" class="in" id="passWord" placeholder="请输入您的密码">
                    <span></span>
                </div>
                <!--记住密码自动登录-->
                <div class="logonRember">
                    <input type="checkbox">记住密码
                    <input type="checkbox" id="automatic">自动登录
                </div>
                <!--登录-->
                <div class="entry">
                    登&nbsp;&nbsp;&nbsp;&nbsp;录
                </div>
            </form>
        </div>
    </div>
</body>
<script th:src="@{../static/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{../static/js/backstage_logon.js}"></script>


</html>