<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物流模态框</title>
    <link rel="stylesheet" href="../static/css/logistics.css">
</head>
<body>
<div >
    <p class="logisticsDetail">物流详情</p>
</div>
<div class="logisticsContainer">
    <div class="logisticsContent">
        <div class="logisticsTitle">
            <p>物流详情</p>
            <p class="logisticsImg">
                <img src="../static/images/error-2.png">
            </p>
            <div style="clear: both;"></div>
        </div>

        <div class="LogisticsAddress">
            <!--<ul>-->
                <!--<li>-->
                    <!--<div class="circle">-->

                    <!--</div>-->
                    <!--<div class="ymd">-->
                        <!--<p>年月日</p>-->
                    <!--</div>-->
                    <!--<div class="week">-->
                        <!--<p>周</p>-->
                    <!--</div>-->
                    <!--<div class="time">-->
                        <!--<p>-->
                            <!--时分秒-->
                            <!--<span>地址</span>-->
                        <!--</p>-->
                        <!--<p>-->
                            <!--时分秒-->
                            <!--<span>地址</span>-->
                        <!--</p>-->
                        <!--<p>-->
                            <!--时分秒-->
                            <!--<span>地址</span>-->
                        <!--</p>-->
                    <!--</div>-->


                <!--</li>-->
                <!--<li>-->
                    <!--<div class="circle">-->

                    <!--</div>-->
                    <!--<div class="ymd">-->
                        <!--<p>年月日</p>-->
                    <!--</div>-->
                    <!--<div class="week">-->
                        <!--<p>周</p>-->
                    <!--</div>-->
                    <!--<div class="time">-->
                        <!--<p>-->
                            <!--时分秒-->
                            <!--<span>地址</span>-->
                        <!--</p>-->
                        <!--<p>-->
                            <!--时分秒-->
                            <!--<span>地址</span>-->
                        <!--</p>-->
                        <!--<p>-->
                            <!--时分秒-->
                            <!--<span>地址</span>-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div style="clear: both;"></div>-->


                <!--</li>-->
            <!--</ul>-->

            <div class="timeline-small">
                <div class="timeline-small-body">
                    <ul>
                        <li>
                            <div class="bullet pink"></div>
                            <div class="date">XXXX年XX月XX日</div>
                            <div class="desc">
                                <h4>时分秒</h4>
                                <h4>内容段落2内容段落2内容段落2内容段落2</h4>
                            </div>
                        </li>
                        <li>
                            <div class="bullet pink"></div>
                            <div class="date">XXXX年XX月XX日</div>
                            <div class="desc">
                                <h4>时分秒</h4>
                                <h4>内容段落2内容段落2内容段落2内容段落2</h4>
                            </div>
                        </li>
                        <li>
                            <div class="bullet pink"></div>
                            <div class="date">XXXX年XX月XX日</div>
                            <div class="desc">
                                <h4>时分秒</h4>
                                <h4>内容段落2内容段落2内容段落2内容段落2</h4>
                            </div>
                        </li>
                        <li>
                            <div class="bullet pink"></div>
                            <div class="date">XXXX年XX月XX日</div>
                            <div class="desc">
                                <h4>时分秒</h4>
                                <h4>内容段落2内容段落2内容段落2内容段落2</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script src="../static/js/jquery.min.js"></script>
<script rel="script" src="../static/js/logistics.js"></script>
</html>