<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" th:href="@{/static/css/same.css}">
    <link rel="stylesheet" th:href="@{/css/management.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/htmleaf-demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/niftymodals.css}" />
</head>
<body>
<div class="container">
    <!-- 顶部 -->
    <div th:include="common::commonTop"></div>
    <!-- 头部 -->
    <div class="head_nav">
        <div class="head">
            <div class="logo">
                <a th:href="@{/product/0/0/0/1}">
                    <img th:src="@{/img/logo.png}" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="mainPart">
            <div class="submitBar">
                <div class="offerTitle" style="padding-bottom: 20px;">
                    <p>用户管理:</p>
                </div>
                <!--增加-->
                <div class="addButton md-trigger" data-modal="modal-1">
                    <a>
                        添加用户
                    </a>
                </div>
                <!--搜索框-->
                <div class="inputProduct">
                    <form th:action="@{/user/userList/1}" type="GET">
                        <input type="search" th:value="${findName}" th:name="findName" id="productSearch"
                               placeholder="请输入搜索信息" name="nr">
                        <div class="submitProduct">
                            <input type="submit">
                        </div>
                    </form>
                </div>
                <div style="clear: both"></div>
                <!--用户信息-->
                <div class="messageDetail">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>用户姓名</th>
                            <th>用户手机号</th>
                            <th>操作系列</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${userList}">
                            <td th:text="${user.userName}"></td>
                            <td th:text="${user.userPhone}"></td>
                            <td class="delete" th:data-userid="${user.userId}">删除</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
    <!--模态框-->
    <div class="md-container md-effect-1" id="modal-1">
        <div class="md-content">
            <div class="md-contentTitle" style="padding: 4px 40px 4px;">
                <p>用户管理</p>
            </div>

            <form id="form1" action="#" onsubmit="return false">
                <div class="md-productTitle" style="padding: 4px 40px 4px;">
                    <div class="messageDetail" style="margin-top: 0;">
                        <!--添加信息-->
                        <div class="offerFormItem">
                            <label class="offerFormLabel">姓名:</label>
                            <div class="offerInputblock">
                                <input type="text" name="userName" autocomplete="off" placeholder="请输入姓名"
                                       class="offerInput"
                                       style="width: 145px;">
                            </div>
                        </div>
                        <div class="offerFormItem">
                            <label class="offerFormLabel">手机号:</label>
                            <div class="offerInputblock">
                                <input type="text" name="userPhone" autocomplete="off" placeholder="请输入手机号"
                                       class="offerInput"
                                       style="width: 145px;">
                            </div>
                        </div>
                        <div class="offerFormItem">
                            <label class="offerFormLabel">密码:</label>
                            <div class="offerInputblock">
                                <input type="text" name="title" autocomplete="off" placeholder="请输入密码"
                                       class="offerInput"
                                       style="width: 145px;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="submitBar">
                <input type="reset" name="" value="重置" class="confirm"/>
                <input onclick="addUser()" type="submit" value="添加" class="add"/>
                <a th:href="@{/user/userList/1}" class="btn returnList cancel">返回</a>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
</div>
<!--    &lt;!&ndash;搜索分页&ndash;&gt;-->
<div class="paging" th:if="${TotalPages > 0} and ${findName!=null}">
    <ul class="pagination" id="pagination1" th:if="${TotalPages> 1}">
        <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
        <li id="first"><a th:href="@{/user/userList/1(findName=${findName})}">首页</a></li>
        <li th:if="${Number>1}"><a th:href="@{'/user/userList/'+${Number-1}(findName=${findName})}">上一页</a>
        </li>
        <li th:each="i:${#numbers.sequence(1,TotalPages)}">
            <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
            <a class="active" th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);"
               th:text="${i}">#</a>
            <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
               th:href="@{'/user/userList/'+${i}(findName=${findName})}" th:text="${i}"></a>
            <!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li th:if="${Number<TotalPages}"><a th:href="@{'/user/userList/'+${Number+1}(findName=${findName})}">下一页</a>
        </li>
        <li id="last"><a th:href="@{'/user/userList/'+${TotalPages}(findName=${findName})}">尾页</a></li>
        <!--//跳转至第Number页-->
        <li><a href="" th:text="'共'+${TotalPages}+'页'"></a></li>
    </ul>
</div>
<!-- 底部 -->
<div th:include="common::commonFoot"></div>
</body>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/niftymodals.js}"></script>
<script th:src="@{/static/js/cssParser.js}"></script>
<script th:src="@{/static/js/css-filters-polyfill.js}"></script>
<script th:src="@{/static/js/user.js}"></script>
</html>