<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>报价页面</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/niftymodals.css}" />

    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/csstatics" th:href="@{static/css/htmleaf-demo.css}">
    <link rel="stylesheet" th:href="@{/static/css/demo.css}">
    <link rel="stylesheet" th:href="@{/static/css/same.css}">
    <link rel="stylesheet" th:href="@{/static/css/offer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/normalize.css}" /><!--CSS RESET-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/example-styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/demo-styles.css}">
</head>
<body>
<div class="contain">
    <!--顶部-->
    <div class="header">

    </div>
    <!--顶部logo-->
    <div class="wrap">

    </div>
    <div class="box">
        <div class="mainPart">
            <!--报价内容-->
            <div class="offerContent">
                <div class="offerTitle" >
                    <p>报价内容:</p>
                </div>
                <div class="addition">
                    <div class="parts md-trigger" data-modal="modal-1">
                        <p>配件报价</p>
                    </div>
                    <div class="serve md-trigger" data-modal="modal-2">
                        <p>增值服务</p>
                    </div>
                    <div class="view md-trigger" data-modal="modal-3">
                        <p>查看所有已报价商品</p>
                    </div>
                </div>
                <div style="clear: both"></div>
                <form class="offerForm" action="">
                    <!--商品名称-->
                    <div class="offerFormItem">
                        <div style="height: 100%;">
                            <div class="offerFormLabel">商品名称:</div>
                                <div class="offerInputblock">
                                    <a>
                                        <p th:text="${product.xhmc}">123456789</p>
                                    </a>
                                </div>
                        </div>
                    </div>
                    <!--类别名称-->
                    <div class="offerFormItem">
                        <div class="offerFormLabel">商品类别:</div>
                        <div class="offerInputblock">
                            <p th:text="${product.lbmc}">家电类</p>
                        </div>
                    </div>
                    <!--品目-->
                    <div class="offerFormItem">
                        <div class="offerFormLabel">品目:</div>
                        <div class="offerInputblock">
                            <p th:text="${product.pmmc}">电视</p>
                        </div>
                    </div>
<!--                    商品参数-->
                    <!--商品名称-->
                    <div class="offerFormItem">
                        <div style="height: 100%;">
                            <div class="offerFormLabel">商品参数:</div>
                            <div class="offerInputblock" style="vertical-align: text-top;">
                                <a>
                                    <p th:each="parameters:${parametersList}">
                                        <span th:text="${parameters.cssm}"></span>
                                        <span>：</span>
                                        <span th:text="${parameters.csz}"></span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--总报价-->
                    <div class="offerFormItem">
                        <label class="offerFormLabel">商品价格:</label>
                        <div class="offerInputblock">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入价格" class="offerInput" style="width: 145px;">
                        </div>
                    </div>
                    <!--更改报价原因-->
                    <div class="offerFormItem">
                        <label class="offerFormLabel" style="vertical-align: top;">更改报价原因:</label>
                        <div class="offerInputblock">
                            <textarea type="text" name="title" autocomplete="off" placeholder="请认真填写原因" class="offerTextarea"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="submitBar">
        <a class="cancel">返回</a>
        <a class="confirm">提交</a>
    </div>
<!--配件报价模态框-->
    <div class="md-container md-effect-1" id="modal-1">
        <div class="md-content">
            <table >
                    <thead>
                    <tr>
                        <th>配件名称:</th>
                        <th>价格</th>
                        <th>备注</th>
                        <th>修改</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>TanmayTanmayTanmayTanmayTanmay</td>
                        <td>
                            <input type="text" name="title" autocomplete="off" placeholder="请输入配件价格" class="offerInput" style="width: 145px;">
                        </td>
                        <td>
                            <textarea type="text" name="title" autocomplete="off" placeholder="请填写备注" class="offerTextarea" style="height: 50px;
    line-height: 40px;width: 230px;"></textarea>
                        </td>
                        <td>
                            <p>提交报价</p>
                        </td>
                    </tr>
                    <tr>
                        <td>TanmayTanmayTanmayTanmayTanmay</td>
                        <td>
                            <input type="text" name="title" autocomplete="off" placeholder="请输入服务价格" class="offerInput" style="width: 145px;">
                        </td>
                        <td>
                            <textarea type="text" name="title" autocomplete="off" placeholder="请认真填写原因" class="offerTextarea" style="height: 50px;
    line-height: 40px;width: 230px;"></textarea>
                        </td>
                        <td>
                            <p>提交报价</p>
                        </td>
                    </tr>
                    <tr>
                        <td>TanmayTanmayTanmayTanmayTanmay</td>
                        <td>
                            <input type="text" name="title" autocomplete="off" placeholder="请输入服务价格" class="offerInput" style="width: 145px;">
                        </td>
                        <td>
                            <textarea type="text" name="title" autocomplete="off" placeholder="请认真填写原因" class="offerTextarea" style="height: 50px;
    line-height: 40px;width: 230px;"></textarea>
                        </td>
                        <td>
                            <p>提交报价</p>
                        </td>
                    </tr>
                    <tr>
                        <td>TanmayTanmayTanmayTanmayTanmay</td>
                        <td>
                            <input type="text" name="title" autocomplete="off" placeholder="请输入配件价格" class="offerInput" style="width: 145px;">
                        </td>
                        <td>
                            <textarea type="text" name="title" autocomplete="off" placeholder="请填写备注" class="offerTextarea" style="height: 50px;
    line-height: 40px;width: 230px;"></textarea>
                        </td>
                        <td>
                            <p>提交报价</p>
                        </td>
                    </tr>
                    <tr>
                        <td>TanmayTanmayTanmayTanmayTanmay</td>
                        <td>
                            <input type="text" name="title" autocomplete="off" placeholder="请输入服务价格" class="offerInput" style="width: 145px;">
                        </td>
                        <td>
                            <textarea type="text" name="title" autocomplete="off" placeholder="请认真填写原因" class="offerTextarea" style="height: 50px;
    line-height: 40px;width: 230px;"></textarea>
                        </td>
                        <td>
                            <p>提交报价</p>
                        </td>
                    </tr>

                    </tbody>
                </table>
        </div>
    </div>
    <!--增值服务-->
    <div class="md-container md-effect-2" id="modal-2">
        <div class="md-content">
            <table >
                <thead>
                <tr>
                    <th>增值服务名称:</th>
                    <th>增值服务价格</th>
                    <th>备注</th>
                    <th>修改</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>TanmayTanmayTanmayTanmayTanmay</td>
                    <td>
                        <input type="text" name="title" autocomplete="off" placeholder="请输入价格" class="offerInput" style="width: 145px;">
                    </td>
                    <td>
                            <textarea type="text" name="title" autocomplete="off" placeholder="请填写备注" class="offerTextarea" style="height: 50px;
    line-height: 40px;width: 230px;"></textarea>
                    </td>
                    <td>
                        <p>提交报价</p>
                    </td>
                </tr>
                <tr>
                    <td>TanmayTanmayTanmayTanmayTanmay</td>
                    <td>
                        <input type="text" name="title" autocomplete="off" placeholder="请输入服务价格" class="offerInput" style="width: 145px;">
                    </td>
                    <td>
                            <textarea type="text" name="title" autocomplete="off" placeholder="请认真填写原因" class="offerTextarea" style="height: 50px;
    line-height: 40px;width: 230px;"></textarea>
                    </td>
                    <td>
                        <p>提交报价</p>
                    </td>
                </tr>
                <tr>
                    <td>TanmayTanmayTanmayTanmayTanmay</td>
                    <td>
                        <input type="text" name="title" autocomplete="off" placeholder="请输入服务价格" class="offerInput" style="width: 145px;">
                    </td>
                    <td>
                            <textarea type="text" name="title" autocomplete="off" placeholder="请认真填写原因" class="offerTextarea" style="height: 50px;
    line-height: 40px;width: 230px;"></textarea>
                    </td>
                    <td>
                        <p>提交报价</p>
                    </td>
                </tr>
                <tr>
                    <td>TanmayTanmayTanmayTanmayTanmay</td>
                    <td>
                        <input type="text" name="title" autocomplete="off" placeholder="请输入配件价格" class="offerInput" style="width: 145px;">
                    </td>
                    <td>
                            <textarea type="text" name="title" autocomplete="off" placeholder="请填写备注" class="offerTextarea" style="height: 50px;
    line-height: 40px;width: 230px;"></textarea>
                    </td>
                    <td>
                        <p>提交报价</p>
                    </td>
                </tr>
                <tr>
                    <td>TanmayTanmayTanmayTanmayTanmay</td>
                    <td>
                        <input type="text" name="title" autocomplete="off" placeholder="请输入服务价格" class="offerInput" style="width: 145px;">
                    </td>
                    <td>
                            <textarea type="text" name="title" autocomplete="off" placeholder="请认真填写原因" class="offerTextarea" style="height: 50px;
    line-height: 40px;width: 230px;"></textarea>
                    </td>
                    <td>
                        <p>提交报价</p>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
    <!--超看所有报价商品-->
    <div class="md-container md-effect-3" id="modal-3">
        <div class="md-content">
            <h3>Modal Dialog</h3>
            <div>
                <p>This is a modal window. You can do the following things with it:</p>
                <ul>
                    <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                    <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                    <li><strong>Close:</strong> click on the button below to close the modal.</li>
                </ul>
                <button class="md-close">Close me!</button>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
</div>
<!--底部-->
<div class="footer">

</div>
</body>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.multi-select.js}"></script>
<script type="text/javascript">
    $(function(){
        $('#people').multiSelect();
        $('#line-wrap-example').multiSelect({
            positionMenuWithin: $('.position-menu-within')
        });
        $('#categories').multiSelect({
            noneText: 'All categories',
            presets: [
                {
                    name: 'All categories',
                    options: []
                },
                {
                    name: 'My categories',
                    options: ['a', 'c']
                }
            ]
        });
        $('#modal-example').multiSelect({
            'modalHTML': '<div class="multi-select-modal">'
        });

    });
</script>
<script th:src="@{/static/js/offer.js}"></script>

<script th:src="@{/static/js/niftymodals.js}"></script>
<script>
    $(document).ready(function() {

        $('.md-trigger').on('click',function(){

            var modal = $(this).data('modal');
            $("#" + modal).niftyModal();
        });

    });
</script>
<!-- for the blur effect -->
<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
<script>
    // this is important for IEs
    var polyfilter_scriptpath = '/lib/js/';
</script>

<script th:src="@{/static/js/cssParser.js}"></script>
<script th:src="@{/static/js/css-filters-polyfill.js}"></script>


</html>


