<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单列表页</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet"  th:href="@{/css/orderList.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/paging.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
    <div th:replace="common:: commonTop"></div>
    <div class="head_nav">
        <div class="head">
            <div class="logo">
                <a th:href="@{/order-data/select/}"><img th:src="@{/img/logo.png}" alt=""></a>
        </div>
            <div class="search">
                <form action="/order-data/select/">
                    <select name="zt" style="color: #757575;width: 22%;height: 100%;outline: none;border: 0px;padding: 5px;float: left;font-size: 18px" >
                        <option  th:if="${zt==null}">全部状态</option>
                        <option  th:if="${zt=='2'}" th:value="${zt}">待确定</option>
                        <option  th:if="${zt=='3'}" th:value="${zt}">待验收</option>
                        <option  th:if="${zt=='4'}" th:value="${zt}">拒绝</option>
                        <option  th:if="${zt=='5'}" th:value="${zt}">已验收</option>
                        <option  th:if="${zt!='2'}" value="2">待确定</option>
                        <option  th:if="${zt!='3'}" value="3">待验收</option>
                        <option  th:if="${zt!='4'}" value="4">拒绝</option>
                        <option  th:if="${zt!='5'}" value="5">已验收</option>
                        <option  th:if="${zt!=null}">全部状态</option>
                    </select>
                    <input name="data" class="search-con" type="text" placeholder="输入关键字，搜索相关信息" style="width: 58%;float: left">
                    <input class="search-sub" type="submit" value="搜 索">
                </form>
            </div>
        </div>

    </div>
    <div class="oeder_list_nav" style="min-height: 970px;">
        <div class="order_list">
            <div class="order_list_left">
                <ul>
                    <li th:if="${zt!=null}" style="border-left: 10px solid #0984E0;"><a style="transform: translateX(-10px);"class="excursion" th:href="@{'/order-data/select/'}" ><svg class="icon" aria-hidden="ture"><use xlink:href="#icon--1" fill="#fff"></use></svg>全部订单</a></li>
                    <li th:if="${zt==null}" style="border-left: 10px solid #0984E0;"><a style="transform: translateX(-10px);" class="excursion" th:href="@{'/order-data/select/'}"><svg class="icon" aria-hidden="ture"><use xlink:href="#icon--1" fill="#fff"></use></svg>全部订单</a></li>
                    <li th:if="${zt==null || zt!='2'}"><a  class="excursion" th:href="@{'/order-data/select/?zt=2'}" ><svg class="icon" aria-hidden="ture"><use xlink:href="#icon--3" fill="#fff"></use></svg>待确定订单</a></li>
                    <li th:if="${zt!=null and zt=='2'}"><a class="excursion" th:href="@{'/order-data/select/?zt=2'}"><svg class="icon" aria-hidden="ture"><use xlink:href="#icon--3" fill="#fff"></use></svg>待确定订单</a></li>
                    <li th:if="${zt==null || zt!='3'}"><a class="accept excursion" th:href="@{'/order-data/select/?zt=3'}" ><svg class="icon" aria-hidden="ture"><use xlink:href="#icon--2" fill="#fff"></use></svg>接受订单</a></li>
                    <li th:if="${zt!=null and zt=='3'}"><a class="accept excursion" th:href="@{'/order-data/select/?zt=3'}" ><svg class="icon" aria-hidden="ture"><use xlink:href="#icon--2" fill="#fff"></use></svg>接受订单</a></li>
                    <li th:if="${zt==null || zt!='4'}"><a class="excursion" th:href="@{'/order-data/select/?zt=4'}"><svg class="icon" aria-hidden="ture"><use xlink:href="#icon--5" fill="#fff"></use></svg>拒绝订单</a></li>
                    <li th:if="${zt!=null and zt=='4'}"><a class="excursion" th:href="@{'/order-data/select/?zt=4'}"><svg class="icon" aria-hidden="ture"><use xlink:href="#icon--5" fill="#fff"></use></svg>拒绝订单</a></li>
                    <li th:if="${zt==null || zt!='5'}"><a class="excursion" th:href="@{'/order-data/select/?zt=5'}"><svg class="icon" aria-hidden="ture"><use xlink:href="#icon--4" fill="#fff"></use></svg>已签收订单</a></li>
                    <li th:if="${zt!=null and zt=='5'}"><a class="excursion" th:href="@{'/order-data/select/?zt=5'}"><svg class="icon" aria-hidden="ture"><use xlink:href="#icon--4" fill="#fff"></use></svg>已签收订单</a></li>
                </ul>
            </div>
            <div class="order_list_right">
                <div class="orders">
                    <div class="orders_title">
                        <ul>
                            <li>商品</li>
                            <li>订单状态</li>
                            <li>交易状态</li>
                        </ul>
                    </div>
                    <div class="dingdan" th:each="ordeData:${orderDara.data}">
                        <div class="order_time">
                            <ul>
                                <li >时间编号:<span th:text="${ordeData.cjrq}"></span></li>
                                <li>订单号:<span th:text="${ordeData.ddbh}"></span></li>
                                <li>采购人的名字：<span th:text="${ordeData.cgrmc}"></span></li>
                            </ul>
                        </div>

                        <div class="order_details">
                            <ul>
                                <li>
                                    <div class="shangpin" style="text-align: left">
                                        <table>
                                            <caption>总计: <span th:text="${ordeData.ddze}">2000</span>元</caption>
                                            <tr>
                                                <th>商品名称</th>
                                                <th>型号编号</th>
                                                <th>数量</th>
                                            </tr>
                                            <tr>
                                                <td>机械键盘</td>
                                                <td>dfjkdsjh</td>
                                                <td>4 <span>件</span></td>
                                            </tr>
                                            <tr>
                                                <td>无线鼠标</td>
                                                <td>dfjkdsjh</td>
                                                <td>4 <span>件</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>
                                <li>
                                   <div>
                                       <span th:if="${ordeData.zt=='2'}">供应商待确认</span>
                                       <span th:if="${ordeData.zt=='3'}">待验收</span>
                                       <span th:if="${ordeData.zt=='4'}">订单已取消</span>
                                       <span th:if="${ordeData.zt=='5'}">验收通过</span>
                                   </div>
                                    <div><a th:href="@{'/order-data/selectOneOrder?ddbh='+${ordeData.ddbh}}">查看订单详情</a></div>
                                </li>
                                <li>
                                    <div>
                                        <span th:if="${ordeData.zt=='2'}">暂无物流信息</span>
                                        <span th:if="${ordeData.zt=='3'}">物流运输中</span>
                                        <span th:if="${ordeData.zt=='4'}">订单已取消</span>
                                        <span th:if="${ordeData.zt=='5'}">验收通过</span>
                                    </div>
                                    <div data-toggle="modal" data-target="#myModal" style="cursor: pointer;">查看物流详情</div>

                                </li>
                            </ul>

                        </div>
                    </div>
                    <div style="text-align: center;line-height: 250px;color: #888;" th:if="${orderDara.data==null || orderDara.data.size()==0}">
                        暂无订单信息
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped" id="mytable">
                        <thead>
                        <tr>
                            <td style="text-align: center">时间</td>
                            <td style="text-align: center">地点</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2019-09-28</td>
                            <td>【大连市】快件已从大连市场部发出，准备发往大连</td>
                        </tr>
                        <tr>
                            <td>2019-09-29</td>
                            <td>【北京市】快件已从北京发出，准备发往新乡中转</td>
                        </tr>
                        <tr>
                            <td>2019-10-02</td>
                            <td>【新乡市】快件已从新乡中转发出，准备发往新乡</td>
                        </tr>
                        <tr>
                            <td>2019-10-02</td>
                            <td>【新乡市】快件已到达新乡</td>
                        </tr>
                        <tr>
                            <td>2019-10-03</td>
                            <td>货物已签收</td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" id="add"><i class="fa fa-plus"></i> 添加新的表格行</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-success">
                        提交更改
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 分页-->
    <div class="paging" th:if="${orderDara.pages > 0 and zt==null and data==null}">
        <ul class="pagination" id="pagination1" th:if=" ${orderDara.pages> 1}">
            <!--//如果当前页等于1，总页数大于1（不显示上一页）   orderDara.current&ndash;&gt;当前页-->
            <li id="first"><a th:href="@{'/order-data/select?pageNum=1'}">首页</a></li>
            <li th:if="${orderDara.current>1}"><a th:href="@{'/order-data/select?pageNum='+${orderDara.current-1}}">上一页</a></li>
            <li  th:each="i:${#numbers.sequence(1,orderDara.pages)}">
                <!--//从1到总页数遍历，并赋值给i    orderDara.pages&ndash;&gt;总页数-->
                <a class="active" th:if="${i > orderDara.current-3} and ${i < orderDara.current+3} and ${i == orderDara.current}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > orderDara.current-3} and ${i < orderDara.current+3} and ${i != orderDara.current}"
                   th:href="@{'/order-data/select?pageNum='+${i}}" th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li th:if="${orderDara.current<orderDara.pages}"><a th:href="@{'/order-data/select?pageNum='+${orderDara.current+1}}">下一页</a></li>
            <li id="last"><a th:href="@{'/order-data/select?pageNum='+${orderDara.pages}}">尾页</a></li><!--//跳转至第orderDara.current页-->
            <li><a href="" th:text="'共'+${orderDara.pages}+'页'"></a></li>
        </ul>
    </div>

    <!--    &lt;!&ndash;搜索分页&ndash;&gt;-->
    <div class="paging" th:if="${orderDara.pages > 0} and ${zt!=null || data!=null}">
        <ul class="pagination" id="pagination1" th:if="${orderDara.pages> 1}">

            <!--//如果当前页等于1，总页数大于1（不显示上一页）   orderDara.current&ndash;&gt;当前页-->
            <li id="first"><a th:href="@{'/order-data/select?pageNum=1'+'&zt='+${zt}+'&data='+${data}}">首页</a></li>


            <li th:if="${orderDara.current>1}"><a th:href="@{'/order-data/select?pageNum='+${orderDara.current-1}+'&zt='+${zt}+'&data='+${data}}">上一页</a></li>


            <li  th:each="i:${#numbers.sequence(1,orderDara.pages)}">
                <!--//从1到总页数遍历，并赋值给i    orderDara.pages&ndash;&gt;总页数-->
                <a class="active" th:if="${i > orderDara.current-3} and ${i < orderDara.current+3} and ${i == orderDara.current}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > orderDara.current-3} and ${i < orderDara.current+3} and ${i != orderDara.current}"
                   th:href="@{'/order-data/select?pageNum='+${i}+'&zt='+${zt}+'&data='+${data}}" th:text="${i}"></a><!--//限制显示页数的条数  4到6个页数-->
            </li>


            <li th:if="${orderDara.current<orderDara.pages}"><a th:href="@{'/order-data/select?pageNum='+${orderDara.current+1}+'&zt='+${zt}+'&data='+${data}}">下一页</a></li>


            <li id="last"><a th:href="@{'/order-data/select?pageNum='+${orderDara.pages}+'&zt='+${zt}+'&data='+${data}}">尾页</a></li><!--//跳转至第orderDara.current页-->


            <li><a href="" th:text="'共'+${orderDara.pages}+'页'"></a></li>
        </ul>
    </div>


    <div th:include="common :: commonFoot"></div>


</body>
<script type="text/javascript" th:src="@{/js/bootstable.js}"></script>
<script th:src="@{/js/websocket.js}"></script>
<script th:src="@{/js/login.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/BackTop.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/iconfont.js}"></script>
<script type="text/javascript">
    $('#mytable').SetEditable({
        $addButton: $('#add')
    });
</script>
</html>