<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="orderData.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../css/orderData.css}">
    <link rel="stylesheet" href="orderData.css">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>订单</title>
</head>

<body>
<div class="orderInformation">
    <h2 class="name">订单信息</h2>
    <div class="orderWrap">
        <div class="orderMessage_nav">
            <div class="orderMessage1">
                <div class="item">
                    <span class="label">送货城市</span>
                    <span class="info" th:text="${allData.data[2]}"></span>
                </div>
                <div class="item">
                    <span class="label">送货区/县</span>
                    <span class="info"  th:text="${allData.data[3]}"></span>
                </div>
                <div class="item">
                    <span class="label">送货地址</span>
                    <span class="info" th:text="${allData.data[0].shdd}">

                        </span>
                </div>
                <div class="item">
                    <span class="label">订单编号</span>
                    <span class="info" th:text="${allData.data[0].ddbh}"></span>
                </div>
                <div class="item">
                    <span class="label" >采购人名称</span>
                    <span class="info" th:text="${allData.data[0].cgrmc}"></span>
                </div>
                <div class="item">
                    <span class="label">需方联系人</span>
                    <span class="info" th:text="${allData.data[0].xflxrxm}">\</span>
                </div>
                <div class="item">
                    <span class="label">需方电话</span>
                    <span class="info" th:text="${allData.data[0].xfdh}"></span>
                </div>
                <div class="item">
                    <span class="label">电商名称</span>
                    <span class="info" th:text="${allData.data[0].ghsmc}"></span>
                </div>
                <div class="item">
                    <span class="label">订单提交时间</span>
                    <span class="info" th:text="${allData.data[0].cjrq}"></span>
                </div>
            </div>
            <div class="orderMessage2">
                <div class="item">
                    <span class="label">订单状态</span>
                    <span class="info">  <span class="orderZtData" th:if="${allData.data[0].zt=='2'}">供应商待确认</span>
                        <span class="orderZtData" th:if="${allData.data[0].zt=='3'}">待验收</span>
                        <span class="orderZtData" th:if="${allData.data[0].zt=='4'}">订单已取消</span>
                        <span class="orderZtData" th:if="${allData.data[0].zt=='5'}">验收通过</span></span>
                </div>
                <div class="item">
                    <span class="label">支付方式</span>
                    <span class="info">  <span th:if="${allData.data[0].zffs=='70080001'}">现金</span>
                        <span th:if="${allData.data[0].zffs=='70080002'}">公务卡结算 </span>
                        <span th:if="${allData.data[0].zffs=='70080003'}">银行转账</span>
                        <span th:if="${allData.data[0].zffs=='70080004'}">银行支票</span></span>
                </div>
                <div class="item">
                    <span class="label">发票抬头</span>
                    <span class="info" th:text="${allData.data[0].fptt}"></span>
                </div>
                <div class="item">
                    <span class="label">纳税人识别号</span>
                    <span class="info"><span th:if="${allData.data[0].nsrsbh==null}">暂无相关信息</span></li>
                        <span  th:if="${allData.data[0].nsrsbh!=null}" th:text="${allData.data[0].nsrsbh}"></span></span>
                </div>
                <div class="item">
                    <span class="label">是否需要安装服务</span>
                    <span class="info">是</span>
                </div>
                <div class="item">
                    <span class="label">订单备注说明</span>
                    <span class="info"><span th:if="${allData.data[0].sfxyazfw=='0'}">需要安装服务</span>
                        <span th:if="${allData.data[0].sfxyazfw=='1'}">不需要安装服务</span>
                        <span th:if="${allData.data[0].sfxyazfw==null}">暂无相关信息</span></span>
                </div>
                <div class="item">
                    <span class="label">收货时间</span>
                    <span class="info"> <span th:if="${allData.data[0].shsj!=null}" th:text="${allData.data[0].shsj}"></span>
                        <span th:if="${allData.data[0].shsj==null}">暂无相关信息</span></span>
                </div>
                <div class="item">
                    <span class="label">收货期限</span>
                    <span class="info">  <span th:if="${allData.data[0].shqx=='0'}">不限</span>
                        <span th:if="${allData.data[0].shqx=='1'}">一天内</span>
                        <span th:if="${allData.data[0].shqx=='2'}">两天内</span>
                        <span th:if="${allData.data[0].shqx=='3'}">三天内</span>
                        <span th:if="${allData.data[0].shqx=='5'}">五天内</span>
                        <span th:if="${allData.data[0].shqx=='7'}">七天内</span>
                        <span th:if="${allData.data[0].shqx==null}">暂无相关信息</span></span>
                </div>
                <div class="item">
                    <span class="label">发票内容</span>
                    <span class="info">      <span th:if="${allData.data[0].fpnr=='70100001'}">商品明细</span>
                        <span th:if="${allData.data[0].fpnr=='70100002'}">办公耗材</span>
                        <span th:if="${allData.data[0].fpnr=='70100003'}">办公用品</span>
                        <span th:if="${allData.data[0].fpnr==null}">暂无相关信息</span></span>
                </div>


            </div>
        </div>
        <div class="orderOperation_nav">
            <button class="lookContract"><a href="javascript:void(0)">查看合同</a></button>
            <button class="yes_order">确定订单</button>
            <button class="no_order">拒绝订单</button>
            <button class="checkInvoice" th:if="${allData.data[0].fpkjsj==0}">开具发票</button>
            <button class="checkInvoice" th:if="${allData.data[0].fpkjsj!=0}"> 收到发票</button>
            <button class="collectionConfirm" data-toggle="modal" data-target="#collection_Confirm">确认收款</button>
        </div>
    </div>

</div>
<div class="commodityDetails">
    <h2 class="name">商品详情</h2>
    <div class="commodityWrap">
        <div class="title">
            <ul>
                <li>商品</li>
                <li>价格</li>
                <li>数量</li>
            </ul>
        </div>
        <div class="detail" th:each="product:${allData.data[1]}">
            <div class="commodities">
                <div class="commodity">
                    <div class="item">
                        <span class="label" th:data-xhbh="${product.xhbh}">型号名称</span>
                        <span class="info" th:if="${product.xhmc==null}">暂无内容</span>
                        <span class="info" th:if="${product.xhmc!=null}" th:text="${product.xhmc}"></span>
                    </div>
                    <div class="item">
                        <span class="label">品牌名称</span>
                        <span class="info" th:if="${product.ppmc==null}">暂无内容</span>
                        <span class="info" th:if="${product.ppmc!=null}" th:text="${product.ppmc}"></span>
                    </div>
                    <div class="item" th:data-xhbh="${product.xhbh}">
                        <span class="label">商品标识码</span>
                        <span class="info" th:if="${product.wybs==null}">暂无内容</span>
                        <span class="info" th:if="${product.wybs!=null}" th:text="${product.wybs}"></span>
                        <span class="info"><img src="" alt=""></span>
                    </div>
                </div>
                <div class="price">
                    商品的实际价格:     ¥<span class="info" th:if="${product.sjjg==null}">暂无内容</span><span class="info" th:if="${product.sjjg!=null}" th:text="${product.sjjg}"></span></br>
                    小计价格:           ¥<span class="info" th:if="${product.xjjg==null}">暂无内容</span><span class="info" th:if="${product.xjjg!=null}" th:text="${product.xjjg}"></span>
                </div>
                <div class="amount">
                    <span class="concreteAmount" th:if="${product.sl==null}" >暂无信息</span>
                    <span class="concreteAmount" th:if="${product.sl!=null}" th:text="${product.sl}">10</span>
                </div>
            </div>
            <div class="mountings">
                <div class="mounting"  th:each="accessory:${product.accessoryList}">
                    <div class="commodity">
                        <span th:text="${accessory.pjmc}"></span>
                    </div>
                    <div class="price">
                        ¥<span class="concretePrice" th:text="${accessory.pjjg}"></span>
                    </div>
                    <div class="amount ">
                        <span class="concreteAmount" th:text="${accessory.sl}"></span>
                    </div>
                </div>
            </div>
            <div class="services" th:each="service:${product.serviceList}">
                <div class="service">
                    <div class="commodity">
                        <span th:text="${service.fwMC}"></span>
                    </div>
                    <div class="price">
                        ¥<span class="concretePrice" th:text="${service.fwjg}"></span>
                    </div>
                    <div class="amount ">
                        <span class="concreteAmount" th:text="${service.sl}"></span>
                    </div>
                </div>
            </div>
        </div >
        <div class="total">
                <span>总计:<span class="amountTo">
                    1000
                    </span>¥</span>
        </div>
    </div>
</div>
<script th:src="@{/js/websocket.js}"></script>
<script th:src="@{/js/OrderDate.js}"></script>
<script th:src="@{/js/upLoadData.js}"></script>

</body>

</html>