<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/订单详情页.css">
    <title>订单详情页</title>
</head>

<body>
    <div class="management">
        <div class="classifys">
            <ul>
                <li>订单信息</li>
                <li>商品信息</li>
                <li>配件信息</li>
                <li style="border: 0px">服务信息</li>
            </ul>
        </div>
        <div class="content">
            <div class="classify order">
                <ul class="title">
                    <li>送货城市</li>
                    <li>送货区/县</li>
                    <li>送货地址</li>
                    <li>订单编号</li>
                    <li>采购人名称</li>
                    <li>需方联系人</li>
                    <li>需方电话</li>
                    <li>电商名称</li>
                    <li>订单金额</li>
                    <li>订单提交时间</li>
                    <li>订单状态</li>
                    <li>支付方式</li>
                    <li>发票抬头</li>
                    <li>纳税人识别号</li>
                    <li>是否需要安装服务</li>
                    <li>订单备注说明</li>
                    <li>收货时间</li>
                    <li>收货期限</li>
                    <li>发票内容</li>
                </ul>
                <ul class="message">
                    <li>河南省新乡市</li>
                    <li>红旗区</li>
                    <li>华兰大道东段河南科技学院</li>
                    <li>Y545645445</li>
                    <li>张张张</li>
                    <li>张张张</li>
                    <li>12345687845</li>
                    <li>格力专卖店</li>
                    <li>1520 <span>元</span></li>
                    <li>2019-09-14</li>
                    <li>待确认</li>
                    <li>公务卡结算</li>
                    <li>某某公司</li>
                    <li>12345667545</li>
                    <li>是</li>
                    <li>无</li>
                    <li>工作日送货</li>
                    <li>三 <span>天</span></li>
                    <li>办公耗材</li>
                </ul>
            </div>
            <div class="classify">
                <ul class="title">
                    <li>型号编号</li>
                    <li>型号名称</li>
                    <li>品牌编号</li>
                    <li>品牌名称</li>
                    <li>购买数量</li>
                    <li>商品的实际价格</li>
                    <li>小计价格</li>
                </ul>
                <ul class="message">
                    <li>Y234568</li>
                    <li>格力空调</li>
                    <li>Tfggffd</li>
                    <li>格力</li>
                    <li>14</li>
                    <li>20 <span>元</span></li>
                    <li>200 <span>元</span></li>
                </ul>
            </div>
            <div class="classify">
                <ul class="title">
                    <li>配件名称</li>
                    <li>配件数量</li>
                    <li>配件单价</li>

                </ul>
                <ul class="message">
                    <li>防尘罩</li>
                    <li>1 <span>个</span> </li>
                    <li>20 <span>元</span></li>
                </ul>
            </div>
            <div class="classify" style="border: 0px">
                <ul class="title">
                    <li>服务名称</li>
                    <li>服务数量</li>
                    <li>服务单价</li>
                </ul>
                <ul class="message">
                    <li>上门安装</li>
                    <li>20</li>
                    <li>100 <span>元</span></li>
                </ul>
            </div>
            <div class="tole_nav">
                <div class="tole">
                    <span class="zongji">总计:</span>
                    <span>2500元</span>
                </div>
            </div>
            <div class="order_submit">
                <button class="yes_order">确定订单</button>
                <button class="no_order">拒绝订单</button>
            </div>

        </div>
    </div>
</body>

</html>