<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品详情页面</title>
    <link rel="stylesheet" th:href="@{/static/css/detailsPage.css}">
    <link rel="stylesheet" th:href="@{/static/css/same.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</head>
<body>
<div class="container">
    <!-- 顶部 -->
    <div th:include="common::commonTop"></div>
    <!-- 头部 -->
    <div class="head_nav">
        <div class="head">
            <div class="logo">
                <a href="">
                    <img th:src="@{/img/logo.png}" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="mainPart">
            <!--顶部-->
            <div class="mainPartTitle">
                <!--标题-->
                <!--回到首页-->
                <div class="wrap">
                    <div class="homepage">
                        <a class="current" style=" color: #103a86;" th:href="@{/product}">
                            <span>首页</span>
                        </a>
                    </div>
                    <span class="arrow"> > </span>
                </div>
                <!--类-->
                <div class="wrap">
                    <div class="homepage" id="kindList">
                        <a class="current">
                            <p>
                                <span th:text="${productlbbh.lbmc}">
                                    办公打印
                                </span>
                                <img th:src="@{/static/img/down.png}" align="absmiddle">
                            </p>
                        </a>
                        <div class="kindList">
                            <div class="kindListDetail">
                                <ul>
                                    <li th:each="lbbhlist:${lbbhlist}">
                                        <a class="list" th:href="@{'/product/'+${lbbhlist.lbbh}+'/0/0/1'}">
                                            <p th:text="${lbbhlist.lbmc}" th:data-listnumber="${lbbhlist.lbbh}">类名</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <span class="arrow"> > </span>
                </div>
                <!--品目-->
                <div class="wrap">
                    <div class="homepage" id="items">
                        <a class="current">
                            <p>
                                <span th:text="${productpmbh.pmmc}"></span>
                                <img th:src="@{/static/img/down.png}" align="absmiddle">
                            </p>
                        </a>
                        <div class="itemsList">
                            <div class="itemsListDetail">
                                <ul>
                                    <li th:each="pmbhlist:${pmbhlist}">
                                        <a th:href="@{'/product/'+${lbbh}+'/'+${pmbhlist.pmbh}+'/0/1'}">
                                            <p th:text="${pmbhlist.pmmc}" th:data-itemsnumber="${pmbhlist.pmbh}" class="namesOfParts">品目</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <span class="arrow"> > </span>
                </div>
                <!--品牌-->
                <div class="wrap">
                    <div class="homepage" id="items">
                        <a class="current">
                            <p>
                                <span th:text="${productppbh.ppmc}">联想</span>
                                <img th:src="@{/static/img/down.png}" align="absmiddle">
                            </p>
                        </a>
                        <div class="itemsList">
                            <div class="itemsListDetail">
                                <ul>
                                    <li th:each="ppbhlist:${ppbhlist}">
                                        <a th:href="@{'/product/'+${lbbh}+'/'+${pmbh}+'/'+${ppbhlist.ppbh}+'/'+${pagenumber}}">
                                            <p th:text="${ppbhlist.ppmc}" th:data-branknumber="${ppbhlist.ppbh}" class="brankName">品牌</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--搜索框-->
                <div class="inputProduct">
                    <form th:action="@{'/product/'+${lbbh}+'/'+${pmbh}+'/'+${ppbh}+'/1'}"  type="GET">
                        <input type="search" id="productSearch" placeholder="请输入商品信息" name="nr">
                    </form>
                    <div class="submitProduct">
                            <input type="submit">
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="brandRegion">
                <!--                类名-->
                <div class="brand">
                    <div class="brandDetail">
<!--     1111111                   -->
                        <div class="button buttonone">
                            <a th:href="@{/order-data/select}">
                                订单管理
                            </a>
                        </div>
<!--                        222222222-->
                        <div class="button buttontwo">
                            <a th:href="@{/productoffer/offer/all/1/1/1}">
                                我的报价
                            </a>
                        </div>

<!--                        33333333333333333-->
                        <div class="button buttonthree">
                            <a th:href="@{/user/userList/1}">
                                用户管理
                            </a>
                        </div>

                        <div>

                        </div>
                        <div style="clear: both">
                        </div>
                    </div>
                </div>
                <!--                类名-->
                <div class="brand">
                    <div class="brandDetail">
                        <div class="brandDetailLeft">
                            <p>
                                <img th:src="@{/static/img/arrowLeft.png}" align="absmiddle">
                                类名</p>
                        </div>
                        <div class="key">
                            <a class="moreThan">
                                <span>更多</span>
                            </a>
                        </div>
                        <div class="brandDetailRight">
                            <div class="brandDetailRightContent">
                                <ul>
                                    <li th:each="lbbhlist:${lbbhlist}">
                                        <a th:href="@{'/product/'+${lbbhlist.lbbh}+'/0/0/1'}">
                                            <p th:text="${lbbhlist.lbmc}">类名</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div style="clear: both">

                        </div>
                    </div>
                </div>
                <!--                品目-->
                <div class="brand">
                    <div class="brandDetail">
                        <div class="brandDetailLeft">
                            <p>
                                <img th:src="@{/static/img/arrowLeft.png}" align="absmiddle">
                                品目</p>
                        </div>
                        <div class="key">
                            <a class="moreThan">
                                <span>更多</span>
                            </a>
                        </div>
                        <div class="brandDetailRight">
                            <div class="brandDetailRightContent">
                                <ul>
                                    <li th:each="pmbhlist:${pmbhlist}">
                                        <a th:href="@{'/product/'+${lbbh}+'/'+${pmbhlist.pmbh}+'/0/1'}">
                                            <p th:text="${pmbhlist.pmmc}"></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div style="clear: both">

                        </div>
                    </div>
                </div>
                <!--品牌-->
                <div class="brand">
                    <div class="brandDetail">
                        <div class="brandDetailLeft">
                            <p>
                                <img th:src="@{/static/img/arrowLeft.png}" align="absmiddle">
                                品牌</p>
                        </div>
                        <div class="key">
                            <a class="moreThan">
                                <span>更多</span>
                            </a>
                        </div>
                        <div class="brandDetailRight">
                            <div class="brandDetailRightContent">
                                <ul>
                                    <li th:each="ppbhlist:${ppbhlist}">
                                        <a th:href="@{'/product/'+${lbbh}+'/'+${pmbh}+'/'+${ppbhlist.ppbh}+'/1'}">
                                            <p th:text="${ppbhlist.ppmc}" class="brankName"></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div style="clear: both">

                        </div>
                    </div>
                </div>
            </div>
            <!--获取商品-->
            <div class="message">
                <div class="messageDetail" th:each="productList:${productList}">
                    <!--商品名称-->
                    <h3 th:text="${productList.xhmc}"></h3>
                    <!--类别-->
                    <div class="items">
                        <p>
                            <span>类别名称:</span>
                            <span th:text="${productList.lbmc}" th:data-listnametwo="${productList.lbbh}">
                                电子类
                            </span>
                        </p>
                    </div>
                    <!--品目-->
                    <div class="items">
                        <p>
                            <span>
                                品目名称:
                            </span>
                            <span th:text="${productList.pmmc}" th:data-itemsnametwo="${productList.ppbh}">
                                电脑
                            </span>
                        </p>
                    </div>
                    <!--品牌-->
                    <div class="items">
                        <p>
                            <span>
                                品牌名称:
                            </span>
                            <span th:text="${productList.ppmc}" th:data-branknumberTwo="${productList.ppbh}">
                                联想
                            </span>
                        </p>
                    </div>
                    <!--商品参数-->
                    <div class="items">
                        <p>
                            <span>
                                商品参数:
                            </span>
                            <span th:text="${productList.parametersList}">

                            </span>
                        </p>
                    </div>
                    <!--商品状态-->
                    <div class="items">
                        <p>
                            <span>
                                商品状态:
                            </span>
                            <span th:text="${productList.zt}">
                                正在报价中
                            </span>
                        </p>
                    </div>
                    <!--报价-->
                    <div class="offer">
                        <a th:href="@{'/product/product/'+${productList.xhbh}}">
                            <p>我要报价
                                <img th:src="@{/static/img/right.png}" align="absmiddle">
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 分页-->
        <div class="paging" th:if="${pagesize > 0 and zt==null and data==null}">
            <ul class="pagination" id="pagination1" th:if=" ${pagesize> 1}">
                <!--//如果当前页等于1，总页数大于1（不显示上一页）   orderDara.current&ndash;&gt;当前页-->
                <li id="first"><a th:href="@{'/product/'+${lbbh}+'/'+${pmbh}+'/'+${ppbh}+'/1'}">首页</a></li>
                <li th:if="${pagenumber>1}"><a th:href="@{'/product/'+${lbbh}+'/'+${pmbh}+'/'+${ppbh}+'/'+${pagenumber-1}}">上一页</a></li>
                <li  th:each="i:${#numbers.sequence(1,pagesize)}">
                    <!--//从1到总页数遍历，并赋值给i    orderDara.pages&ndash;&gt;总页数-->
                    <a class="active" th:if="${i > pagenumber-3} and ${i <pagenumber+3} and ${i == pagenumber}" href="javascript:void(0);" th:text="${i}">#</a>
                    <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                    <a th:if="${i > pagenumber -3} and ${i < pagenumber+3} and ${i != pagenumber}"
                       th:href="@{'/product/'+${lbbh}+'/'+${pmbh}+'/'+${ppbh}+'/'+${i}}" th:text="${i}">#</a><!--//限制显示页数的条数  4到6个页数-->
                </li>
                <li th:if="${pagenumber<pagesize}"><a th:href="@{'/product/'+${lbbh}+'/'+${pmbh}+'/'+${ppbh}+'/'+${pagenumber+1}}">下一页</a></li>
                <li id="last"><a th:href="@{'/product/'+${lbbh}+'/'+${pmbh}+'/'+${ppbh}+'/'+${pagesize}}">尾页</a></li><!--//跳转至第orderDara.current页-->
                <li><a href="" th:text="'共'+${pagesize}+'页'"></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- 底部 -->
<div th:include="common::commonFoot"></div>
<!-- 返回顶部 -->
<div th:include="common::commonBackTop"></div>

<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/detailsPage.js}"></script>
<script th:src="@{/js/BackTop.js}" type="text/javascript" charset="utf-8"></script>
</body>
</html>